In [75]:
import tweepy as tw
from sklearn.model_selection import train_test_split # function for splitting data to train and test sets
import nltk
from nltk.corpus import stopwords
from nltk.classify import SklearnClassifier
from textblob import TextBlob
import re #regular #remove all the useless words in analytics

In [76]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

## import Movie Data

In [69]:
def switch_mon(argument):
    switcher = {
        "Jan":'01',
        "Feb":'02',
        "Mar":'03',
        "Apr":'04',
        "May":'05',
        "Jun":'06',
        "Jul":'07',
        "Aug":'08',
        "Sep":'09',
        "Oct":'10',
        "Nov":'11',
        "Dec":'12'
    }
    return(switcher.get(argument, "Invalid month"))

In [658]:
revenue5 = pd.read_csv('1-177-boxoffice.csv',encoding = "ISO-8859-1")
movie=pd.read_csv('IMDBMovieData2.csv',encoding = "ISO-8859-1")

In [677]:
movie=pd.read_csv('IMDBMovieData2.csv',encoding = "ISO-8859-1")

In [659]:
revenue5.head()

,Movie_Name,Date,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number
0,Guardians of the Galaxy,1-Aug,134390839,-,32939,134390839,1
1,Guardians of the Galaxy,8-Aug,63154982,-0.53,15449,197545821,2
2,Guardians of the Galaxy,15-Aug,36708036,-0.42,9929,234253857,3
3,Guardians of the Galaxy,22-Aug,24043411,-0.35,7132,258297268,4
4,Guardians of the Galaxy,29-Aug,26110586,0.09,7542,284407854,5

## transfer data format

In [660]:
revenue5['Percentage_Change']=pd.to_numeric(revenue5['Percentage_Change'], errors='coerce')
revenue5['Avg']=pd.to_numeric(revenue5['Avg'], errors='coerce')

In [661]:
revenue5.head()

,Movie_Name,Date,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number
0,Guardians of the Galaxy,1-Aug,134390839,NaN,32939.0,134390839,1
1,Guardians of the Galaxy,8-Aug,63154982,-0.53,15449.0,197545821,2
2,Guardians of the Galaxy,15-Aug,36708036,-0.42,9929.0,234253857,3
3,Guardians of the Galaxy,22-Aug,24043411,-0.35,7132.0,258297268,4
4,Guardians of the Galaxy,29-Aug,26110586,0.09,7542.0,284407854,5

In [662]:
revenue5[revenue5['Avg'].isnull()]

,Movie_Name,Date,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number
55,Split,5-May,149780,0.19,NaN,138291365,16
76,Sing,5-May,66380,0.73,NaN,270395425,20
218,Hidden Figures,3-Nov,220283,NaN,NaN,169607287,46
664,Lowriders,23-Jun,123605,0.01,NaN,6303560,7

In [656]:
revenue5

,Movie_Name,Date,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number
55,Split,5-May,149780,0.19,NaN,138291365,16
76,Sing,5-May,66380,0.73,NaN,270395425,20
218,Hidden Figures,3-Nov,220283,NaN,NaN,169607287,46
664,Lowriders,23-Jun,123605,0.01,NaN,6303560,7

In [667]:
revenue5=revenue5[revenue5['Avg'].notnull()]
revenue5=revenue5.reset_index(drop=True)

In [666]:
revenue5[revenue5['Movie_Name']=='Lowriders']

,Movie_Name,Date,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number
658,Lowriders,12-May,3028385,NaN,10266.0,3028385,1
659,Lowriders,19-May,1559750,-0.49,4273.0,4588135,2
660,Lowriders,26-May,964870,-0.38,2889.0,5553005,3
661,Lowriders,2-Jun,309415,-0.68,1729.0,5862420,4
662,Lowriders,9-Jun,194630,-0.37,1819.0,6057050,5
663,Lowriders,16-Jun,122905,-0.37,3073.0,6179955,6
664,Lowriders,23-Jun,123605,0.01,NaN,6303560,7

In [668]:
revenue5_final_5=revenue5.fillna(0)

In [669]:
revenue5_final_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2476 entries, 0 to 2475
Data columns (total 7 columns):
Movie_Name           2476 non-null object
Date                 2476 non-null object
Weekly_Gross         2476 non-null int64
Percentage_Change    2476 non-null float64
Avg                  2476 non-null float64
Gross_to_Date        2476 non-null int64
Week_Number          2476 non-null int64
dtypes: float64(2), int64(3), object(2)
memory usage: 135.5+ KB

## import data year

In [670]:
revenue5_final_5.head(3)

,Movie_Name,Date,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number
0,Guardians of the Galaxy,1-Aug,134390839,0.00,32939.0,134390839,1
1,Guardians of the Galaxy,8-Aug,63154982,-0.53,15449.0,197545821,2
2,Guardians of the Galaxy,15-Aug,36708036,-0.42,9929.0,234253857,3

In [671]:
revenue5_final_5['Year']=0

In [672]:
revenue5_final_5.head(3)

,Movie_Name,Date,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year
0,Guardians of the Galaxy,1-Aug,134390839,0.00,32939.0,134390839,1,0
1,Guardians of the Galaxy,8-Aug,63154982,-0.53,15449.0,197545821,2,0
2,Guardians of the Galaxy,15-Aug,36708036,-0.42,9929.0,234253857,3,0

In [678]:
#Append data fron another dataset (Kaggle Dataset)
for i in range(0,len(movie)):
    topic=movie['Title'][i]
    revenue5_final_5[revenue5_final_5['Movie_Name']==topic]
    revenue5_final_5['Year'][revenue5_final_5['Movie_Name']==topic]=movie['Year'][movie['Title']==topic].iloc[0]

C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [679]:
revenue5_final_5.head()

,Movie_Name,Date,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year
0,Guardians of the Galaxy,1-Aug,134390839,0.00,32939.0,134390839,1,2014
1,Guardians of the Galaxy,8-Aug,63154982,-0.53,15449.0,197545821,2,2014
2,Guardians of the Galaxy,15-Aug,36708036,-0.42,9929.0,234253857,3,2014
3,Guardians of the Galaxy,22-Aug,24043411,-0.35,7132.0,258297268,4,2014
4,Guardians of the Galaxy,29-Aug,26110586,0.09,7542.0,284407854,5,2014

In [680]:
#check who got the wrong 'Year' values
revenue5_final_5['Movie_Name'][[len(str(revenue5_final_5['Year'][i]))!=4 for i in range(0,len(revenue5_final_5))]].unique()

array([], dtype=object)

In [682]:
revenue5_final_5[revenue5_final_5['Week_Number']==0]

,Movie_Name,Date,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year
55,Sing,16-Dec,20612640,0.0,5125.0,20612640,0,2016
138,Passengers,16-Dec,7325201,0.0,2106.0,7325201,0,2016
236,Moana,18-Nov,25448873,0.0,6567.0,25448873,0,2016
454,Assassin's Creed,16-Dec,7492398,0.0,2582.0,7492398,0,2016
545,Interstellar,31-Oct,2151453,0.0,8640.0,2151453,0,2014
640,The Founder,13-Jan,1266,0.0,1266.0,1266,0,2016
925,Patriots Day,16-Dec,95412,0.0,13630.0,95412,0,2016
976,Allied,18-Nov,5024304,0.0,1590.0,5024304,0,2016
1021,Pirates of the Caribbean: At World's End,18-May,13240044,0.0,4271.0,13240044,0,2007
1063,Inglourious Basterds,14-Aug,15761,0.0,563.0,15761,0,2009
1161,The Wolf of Wall Street,20-Dec,15791559,0.0,6225.0,15791559,0,2013
1331,The Help,5-Aug,9873826,0.0,3932.0,9873826,0,2011
1647,Dangal,16-Dec,832672,0.0,2516.0,832672,0,2016
1801,Nerve,22-Jul,6051287,0.0,2384.0,6051287,0,2016
1865,Into the Woods,19-Dec,15089740,0.0,6184.0,15089740,0,2014
2001,Star Trek,1-May,4000000,0.0,1039.0,4000000,0,2009
2089,Django Unchained,21-Dec,33320265,0.0,11070.0,33320265,0,2012
2326,Woman in Gold,27-Mar,95751,0.0,3420.0,95751,0,2015
2407,Her,13-Dec,104258,0.0,17376.0,104258,0,2013

In [683]:
revenue5_final_5_v3=revenue5_final_5
df=revenue5_final_5

topics=df['Movie_Name'].unique()
for topic in topics:
    min_week=min(df['Week_Number'][df['Movie_Name']==topic])
    if min_week<1:
        df['Week_Number'][df['Movie_Name']==topic]=(df['Week_Number'][df['Movie_Name']==topic]+1)
        
        
revenue5_final_5=df

C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Check missing value

In [687]:
revenue5_final_5[revenue5_final_5['Year']==0]

Empty DataFrame
Columns: [Movie_Name, Date, Weekly_Gross, Percentage_Change, Avg, Gross_to_Date, Week_Number, Year]
Index: []

In [688]:
pd.unique(revenue5_final_5['Movie_Name'][revenue5_final_5['Year']==0])

array([], dtype=object)

In [689]:
#revenue5_final_5['Year'][revenue5_final_5['Movie_Name']=='Detour']=2016

## Input time data

### Changing Time format

In [690]:
revenue5_final_5['Date'][revenue5_final_5['Date']=="Feb-29"]="29-Feb"

C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Check missing value --- Date

In [691]:
revenue5_final_5[[len(revenue5_final_5['Date'][i])<5 for i in range(0,len(revenue5_final_5))]]

Empty DataFrame
Columns: [Movie_Name, Date, Weekly_Gross, Percentage_Change, Avg, Gross_to_Date, Week_Number, Year]
Index: []

### input since_str

#### Input first week

In [695]:
# insert since_str
revenue5_final_5['since_str']=''
revenue5_final_5['since_str'][revenue5_final_5['Week_Number']==1]=np.array([(str(revenue5_final_5['Year'][revenue5_final_5['Week_Number']==1][i])+
                                 '-'+str(switch_mon(revenue5_final_5['Date'][revenue5_final_5['Week_Number']==1][i].split("-")[1]))+
                                 '-'+revenue5_final_5['Date'][revenue5_final_5['Week_Number']==1][i].split("-")[0]) 
                                        for i in (revenue5_final_5['since_str'][revenue5_final_5['Week_Number']==1].index)])

C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [696]:
revenue5_final_5.head()

,Movie_Name,Date,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str
0,Guardians of the Galaxy,1-Aug,134390839,0.00,32939.0,134390839,1,2014,2014-08-1
1,Guardians of the Galaxy,8-Aug,63154982,-0.53,15449.0,197545821,2,2014,
2,Guardians of the Galaxy,15-Aug,36708036,-0.42,9929.0,234253857,3,2014,
3,Guardians of the Galaxy,22-Aug,24043411,-0.35,7132.0,258297268,4,2014,
4,Guardians of the Galaxy,29-Aug,26110586,0.09,7542.0,284407854,5,2014,
5,Guardians of the Galaxy,5-Sep,13476978,-0.48,4184.0,297884832,6,2014,
6,Guardians of the Galaxy,12-Sep,10604199,-0.21,3416.0,308489031,7,2014,
7,Guardians of the Galaxy,19-Sep,6914244,-0.35,2429.0,315403275,8,2014,
8,Guardians of the Galaxy,26-Sep,4923129,-0.29,2009.0,320326404,9,2014,
9,Guardians of the Galaxy,3-Oct,3943500,-0.20,2082.0,324269904,10,2014,
10,Guardians of the Galaxy,10-Oct,2562827,-0.35,1985.0,326832731,11,2014,
11,Guardians of the Galaxy,17-Oct,1262858,-0.51,1730.0,328095589,12,2014,
12,Guardians of the Galaxy,24-Oct,730948,-0.42,1818.0,328826537,13,2014,
13,Guardians of the Galaxy,31-Oct,762562,0.04,2283.0,329589099,14,2014,
14,Guardians of the Galaxy,7-Nov,605255,-0.21,2045.0,330194354,15,2014,
15,Guardians of the Galaxy,14-Nov,376429,-0.38,1616.0,330570783,16,2014,
16,Guardians of the Galaxy,21-Nov,822661,1.19,2539.0,331393444,17,2014,
17,Guardians of the Galaxy,28-Nov,565940,-0.31,1986.0,331959384,18,2014,
18,Guardians of the Galaxy,5-Dec,349892,-0.38,1268.0,332309276,19,2014,
19,Guardians of the Galaxy,12-Dec,243069,-0.31,992.0,332552345,20,2014,
20,Guardians of the Galaxy,19-Dec,196899,-0.19,956.0,332749244,21,2014,
21,Guardians of the Galaxy,26-Dec,216281,0.10,1272.0,332965525,22,2014,
22,Guardians of the Galaxy,2-Jan,114446,-0.47,743.0,333079971,23,2014,
23,Guardians of the Galaxy,9-Jan,65183,-0.43,521.0,333145154,24,2014,
24,Guardians of the Galaxy,16-Jan,31446,-0.52,484.0,333176600,25,2014,
25,Prometheus,8-Jun,68658127,0.00,20217.0,68658127,1,2012,2012-06-8
26,Prometheus,15-Jun,29888553,-0.57,8683.0,98546680,2,2012,
27,Prometheus,22-Jun,14790168,-0.51,5168.0,113336848,3,2012,
28,Prometheus,29-Jun,7237926,-0.51,5781.0,120574774,4,2012,
29,Prometheus,6-Jul,2753987,-0.62,2492.0,123328761,5,2012,
...,...,...,...,...,...,...,...,...,...
2446,Frozen,18-Apr,366366,-0.34,1263.0,399985439,22,2013,
2447,Frozen,25-Apr,242497,-0.34,1068.0,400227936,23,2013,
2448,Frozen,2-May,157550,-0.35,880.0,400385486,24,2013,
2449,Frozen,9-May,94486,-0.40,665.0,400479972,25,2013,
2450,Frozen,16-May,62574,-0.34,559.0,400542546,26,2013,
2451,Frozen,23-May,51942,-0.17,712.0,400594488,27,2013,
2452,Frozen,30-May,32837,-0.37,576.0,400627325,28,2013,
2453,Frozen,6-Jun,37349,0.14,869.0,400664674,29,2013,
2454,Frozen,13-Jun,30957,-0.17,1106.0,400695631,30,2013,
2455,Frozen,20-Jun,15886,-0.49,691.0,400711517,31,2013,
2456,Frozen,27-Jun,9681,-0.39,807.0,400721198,32,2013,
2457,Frozen,4-Jul,9651,0.00,804.0,400730849,33,2013,
2458,Frozen,11-Jul,7160,-0.26,796.0,400738009,34,2013,
2459,Tomorrowland,22-May,49385651,0.00,12433.0,49385651,1,2015,2015-05-22
2460,Tomorrowland,29-May,19828327,-0.60,4992.0,69213978,2,2015,
2461,Tomorrowland,5-Jun,10976435,-0.45,3644.0,80190413,3,2015,
2462,Tomorrowland,12-Jun,5496887,-0.50,2164.0,85687300,4,2015,
2463,Tomorrowland,19-Jun,3425716,-0.38,1942.0,89113016,5,2015,
2464,Tomorrowland,26-Jun,1544514,-0.55,4363.0,90657530,6,2015,
2465,Tomorrowland,3-Jul,647260,-0.58,2179.0,91304790,7,2015,
2466,Tomorrowland,10-Jul,313322,-0.52,1632.0,91618112,8,2015,
2467,Tomorrowland,17-Jul,228689,-0.27,1191.0,91846801,9,2015,
2468,Tomorrowland,24-Jul,424024,0.85,1954.0,92270825,10,2015,
2469,Tomorrowland,31-Jul,337910,-0.20,1673.0,92608735,11,2015,
2470,Tomorrowland,7-Aug,233791,-0.31,1250.0,92842526,12,2015,
2471,Tomorrowland,14-Aug,177282,-0.24,1129.0,93019808,13,2015,
2472,Tomorrowland,21-Aug,120504,-0.32,906.0,93140312,14,2015,
2473,Tomorrowland,28-Aug,107561,-0.11,896.0,93247873,15,2015,
2474,Tomorrowland,4-Sep,119719,0.11,1162.0,93367592,16,2015,
2475,Tomorrowland,11-Sep,68730,-0.43,716.0,93436322,17,2015,

In [697]:
# insert since_date
revenue5_final_5['since_date']=''
revenue5_final_5['since_date'][revenue5_final_5['Week_Number']==1]=np.array(
    [datetime.datetime.strptime(revenue5_final_5['since_str'][revenue5_final_5['Week_Number']==1][i],"%Y-%m-%d") 
     for i in (revenue5_final_5['since_str'][revenue5_final_5['Week_Number']==1].index)])

C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [698]:
revenue5_final_5=revenue5_final_5.drop(['Date'],axis=1)
#Year	since_str	since_date

In [699]:
revenue5_final_5_v2=revenue5_final_5

In [700]:
#insert rows of two month before movie release
df=revenue5_final_5
topics=df['Movie_Name'].unique()
for topic in topics:
    min_week=min(df['Week_Number'][df['Movie_Name']==topic])
    for i in range(int(min_week-8),int(min_week)):
        df.loc[-1] = [topic, 0.0, 0.0,0.0,0.0,float(i),'2012','','']
        df.index = df.index + 1  # shifting index
        df = df.sort_index()  # sorting by index

df=df.sort_values(by=['Movie_Name','Week_Number'])
df=df.reset_index(drop=True)
revenue5_final_5=df

In [702]:
revenue5_final_5

,Movie_Name,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str,since_date
0,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-7.0,2012,,
1,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-6.0,2012,,
2,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-5.0,2012,,
3,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-4.0,2012,,
4,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-3.0,2012,,
5,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-2.0,2012,,
6,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-1.0,2012,,
7,10 Cloverfield Lane,0.0,0.00,0.0,0.0,0.0,2012,,
8,10 Cloverfield Lane,32676639.0,0.00,9636.0,32676639.0,1.0,2016,2016-03-11,2016-03-11 00:00:00
9,10 Cloverfield Lane,17334158.0,-0.47,5058.0,50010797.0,2.0,2016,,
10,10 Cloverfield Lane,8802263.0,-0.49,3141.0,58813060.0,3.0,2016,,
11,10 Cloverfield Lane,6162480.0,-0.30,2454.0,64975540.0,4.0,2016,,
12,10 Cloverfield Lane,3759141.0,-0.39,1993.0,68734681.0,5.0,2016,,
13,10 Cloverfield Lane,1440070.0,-0.62,1327.0,70174751.0,6.0,2016,,
14,10 Cloverfield Lane,774997.0,-0.46,1303.0,70949748.0,7.0,2016,,
15,10 Cloverfield Lane,394644.0,-0.49,1294.0,71344392.0,8.0,2016,,
16,10 Cloverfield Lane,166414.0,-0.58,946.0,71510806.0,9.0,2016,,
17,10 Cloverfield Lane,274461.0,0.65,1056.0,71785267.0,10.0,2016,,
18,10 Cloverfield Lane,161535.0,-0.41,918.0,71946802.0,11.0,2016,,
19,10 Cloverfield Lane,136196.0,-0.16,1135.0,72082998.0,12.0,2016,,
20,12 Years a Slave,0.0,0.00,0.0,0.0,-7.0,2012,,
21,12 Years a Slave,0.0,0.00,0.0,0.0,-6.0,2012,,
22,12 Years a Slave,0.0,0.00,0.0,0.0,-5.0,2012,,
23,12 Years a Slave,0.0,0.00,0.0,0.0,-4.0,2012,,
24,12 Years a Slave,0.0,0.00,0.0,0.0,-3.0,2012,,
25,12 Years a Slave,0.0,0.00,0.0,0.0,-2.0,2012,,
26,12 Years a Slave,0.0,0.00,0.0,0.0,-1.0,2012,,
27,12 Years a Slave,0.0,0.00,0.0,0.0,0.0,2012,,
28,12 Years a Slave,1259943.0,0.00,66313.0,1259943.0,1.0,2013,2013-10-18,2013-10-18 00:00:00
29,12 Years a Slave,2900381.0,1.30,23580.0,4160324.0,2.0,2013,,
...,...,...,...,...,...,...,...,...,...
3670,Zootopia,0.0,0.00,0.0,0.0,-7.0,2012,,
3671,Zootopia,0.0,0.00,0.0,0.0,-6.0,2012,,
3672,Zootopia,0.0,0.00,0.0,0.0,-5.0,2012,,
3673,Zootopia,0.0,0.00,0.0,0.0,-4.0,2012,,
3674,Zootopia,0.0,0.00,0.0,0.0,-3.0,2012,,
3675,Zootopia,0.0,0.00,0.0,0.0,-2.0,2012,,
3676,Zootopia,0.0,0.00,0.0,0.0,-1.0,2012,,
3677,Zootopia,0.0,0.00,0.0,0.0,0.0,2012,,
3678,Zootopia,92615126.0,0.00,24200.0,92615126.0,1.0,2016,2016-03-4,2016-03-04 00:00:00
3679,Zootopia,71150371.0,-0.23,18592.0,163765497.0,2.0,2016,,
3680,Zootopia,53643912.0,-0.25,13550.0,217409409.0,3.0,2016,,
3681,Zootopia,38529901.0,-0.28,10499.0,255939310.0,4.0,2016,,
3682,Zootopia,25720172.0,-0.33,6955.0,281659482.0,5.0,2016,,
3683,Zootopia,17584274.0,-0.32,5106.0,299243756.0,6.0,2016,,
3684,Zootopia,10580850.0,-0.40,3297.0,309824606.0,7.0,2016,,
3685,Zootopia,8687883.0,-0.18,3105.0,318512489.0,8.0,2016,,
3686,Zootopia,6435501.0,-0.26,2588.0,324947990.0,9.0,2016,,
3687,Zootopia,4066449.0,-0.37,1958.0,329014439.0,10.0,2016,,
3688,Zootopia,3686089.0,-0.09,1905.0,332700528.0,11.0,2016,,
3689,Zootopia,2343117.0,-0.36,1702.0,335043645.0,12.0,2016,,
3690,Zootopia,1386037.0,-0.41,2423.0,336429682.0,13.0,2016,,
3691,Zootopia,1211837.0,-0.13,3030.0,337641519.0,14.0,2016,,
3692,Zootopia,917970.0,-0.24,2878.0,338559489.0,15.0,2016,,
3693,Zootopia,1529653.0,0.67,5015.0,340089142.0,16.0,2016,,
3694,Zootopia,462677.0,-0.70,1986.0,340551819.0,17.0,2016,,
3695,Zootopia,303428.0,-0.34,1589.0,340855247.0,18.0,2016,,
3696,Zootopia,217299.0,-0.28,1350.0,341072546.0,19.0,2016,,
3697,Zootopia,124232.0,-0.43,948.0,341196778.0,20.0,2016,,
3698,Zootopia,60416.0,-0.51,719.0,341257194.0,21.0,2016,,
3699,Zootopia,11054.0,-0.82,461.0,341268248.0,22.0,2016,,

In [703]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3700 entries, 0 to 3699
Data columns (total 9 columns):
Movie_Name           3700 non-null object
Weekly_Gross         3700 non-null float64
Percentage_Change    3700 non-null float64
Avg                  3700 non-null float64
Gross_to_Date        3700 non-null float64
Week_Number          3700 non-null float64
Year                 3700 non-null object
since_str            3700 non-null object
since_date           3700 non-null object
dtypes: float64(5), object(4)
memory usage: 260.2+ KB

In [634]:
revenue5_final_5[revenue5_final_5['Movie_Name']=='Maudie']

,Movie_Name,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str,since_date
2252,Maudie,0.0,0.00,0.0,0.0,-4.0,2012,,
2253,Maudie,0.0,0.00,0.0,0.0,-3.0,2012,,
2254,Maudie,0.0,0.00,0.0,0.0,-2.0,2012,,
2255,Maudie,0.0,0.00,0.0,0.0,-1.0,2012,,
2256,Maudie,0.0,0.00,0.0,0.0,0.0,2012,,
2257,Maudie,0.0,0.00,0.0,0.0,1.0,2012,,
2258,Maudie,0.0,0.00,0.0,0.0,2.0,2012,,
2259,Maudie,0.0,0.00,0.0,0.0,3.0,2012,,
2260,Maudie,111911.0,0.00,4663.0,2699007.0,4.0,2016,,
2261,Maudie,133253.0,0.19,4759.0,2832260.0,6.0,2016,,
2262,Maudie,180554.0,0.36,5642.0,3012814.0,9.0,2016,,
2263,Maudie,280868.0,0.56,4192.0,3293682.0,11.0,2016,,
2264,Maudie,380985.0,0.36,3848.0,3674667.0,13.0,2016,,
2265,Maudie,643973.0,0.69,2764.0,4318640.0,15.0,2016,,
2266,Maudie,537260.0,-0.17,2356.0,4855900.0,16.0,2016,,
2267,Maudie,395636.0,-0.26,2116.0,5251536.0,17.0,2016,,
2268,Maudie,262842.0,-0.34,1613.0,5514378.0,18.0,2016,,
2269,Maudie,175582.0,-0.33,1416.0,5689960.0,19.0,2016,,
2270,Maudie,137748.0,-0.22,1435.0,5827708.0,20.0,2016,,
2271,Maudie,146219.0,0.06,1379.0,5973927.0,21.0,2016,,
2272,Maudie,68392.0,-0.53,866.0,6042319.0,22.0,2016,,
2273,Maudie,52224.0,-0.24,829.0,6094543.0,23.0,2016,,
2274,Maudie,35626.0,-0.32,810.0,6130169.0,24.0,2016,,
2275,Maudie,17243.0,-0.52,958.0,6147412.0,25.0,2016,,
2276,Maudie,10321.0,-0.40,645.0,6157733.0,26.0,2016,,
2277,Maudie,2420.0,-0.77,269.0,6160153.0,27.0,2016,,
2278,Maudie,7360.0,2.04,1051.0,6167513.0,28.0,2016,,
2279,Maudie,888.0,-0.88,444.0,6168401.0,29.0,2016,,
2280,Maudie,1365.0,0.54,455.0,6169766.0,30.0,2016,,
2281,Maudie,1232.0,-0.10,616.0,6170998.0,31.0,2016,,

In [643]:
#remove wrong data
revenue5_final_5=revenue5_final_5[revenue5_final_5['Movie_Name']!='Maudie']
revenue5_final_5=revenue5_final_5.reset_index(drop=True)

In [704]:
for topic in pd.unique(revenue5_final_5['Movie_Name']):
    for i in revenue5_final_5['Week_Number'][(revenue5_final_5['Movie_Name']==topic)]:
        revenue5_final_5['since_date'][(revenue5_final_5['Movie_Name']==topic) & (revenue5_final_5['Week_Number']==i)]=(
            revenue5_final_5['since_date'][(revenue5_final_5['Movie_Name']==topic) & (revenue5_final_5['Week_Number']==1)].iloc[0]+
            (i-1)*datetime.timedelta(7))

C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [707]:
revenue5_final_5

,Movie_Name,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str,since_date
0,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-7.0,2012,,2016-01-15 00:00:00
1,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-6.0,2012,,2016-01-22 00:00:00
2,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-5.0,2012,,2016-01-29 00:00:00
3,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-4.0,2012,,2016-02-05 00:00:00
4,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-3.0,2012,,2016-02-12 00:00:00
5,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-2.0,2012,,2016-02-19 00:00:00
6,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-1.0,2012,,2016-02-26 00:00:00
7,10 Cloverfield Lane,0.0,0.00,0.0,0.0,0.0,2012,,2016-03-04 00:00:00
8,10 Cloverfield Lane,32676639.0,0.00,9636.0,32676639.0,1.0,2016,2016-03-11,2016-03-11 00:00:00
9,10 Cloverfield Lane,17334158.0,-0.47,5058.0,50010797.0,2.0,2016,,2016-03-18 00:00:00
10,10 Cloverfield Lane,8802263.0,-0.49,3141.0,58813060.0,3.0,2016,,2016-03-25 00:00:00
11,10 Cloverfield Lane,6162480.0,-0.30,2454.0,64975540.0,4.0,2016,,2016-04-01 00:00:00
12,10 Cloverfield Lane,3759141.0,-0.39,1993.0,68734681.0,5.0,2016,,2016-04-08 00:00:00
13,10 Cloverfield Lane,1440070.0,-0.62,1327.0,70174751.0,6.0,2016,,2016-04-15 00:00:00
14,10 Cloverfield Lane,774997.0,-0.46,1303.0,70949748.0,7.0,2016,,2016-04-22 00:00:00
15,10 Cloverfield Lane,394644.0,-0.49,1294.0,71344392.0,8.0,2016,,2016-04-29 00:00:00
16,10 Cloverfield Lane,166414.0,-0.58,946.0,71510806.0,9.0,2016,,2016-05-06 00:00:00
17,10 Cloverfield Lane,274461.0,0.65,1056.0,71785267.0,10.0,2016,,2016-05-13 00:00:00
18,10 Cloverfield Lane,161535.0,-0.41,918.0,71946802.0,11.0,2016,,2016-05-20 00:00:00
19,10 Cloverfield Lane,136196.0,-0.16,1135.0,72082998.0,12.0,2016,,2016-05-27 00:00:00
20,12 Years a Slave,0.0,0.00,0.0,0.0,-7.0,2012,,2013-08-23 00:00:00
21,12 Years a Slave,0.0,0.00,0.0,0.0,-6.0,2012,,2013-08-30 00:00:00
22,12 Years a Slave,0.0,0.00,0.0,0.0,-5.0,2012,,2013-09-06 00:00:00
23,12 Years a Slave,0.0,0.00,0.0,0.0,-4.0,2012,,2013-09-13 00:00:00
24,12 Years a Slave,0.0,0.00,0.0,0.0,-3.0,2012,,2013-09-20 00:00:00
25,12 Years a Slave,0.0,0.00,0.0,0.0,-2.0,2012,,2013-09-27 00:00:00
26,12 Years a Slave,0.0,0.00,0.0,0.0,-1.0,2012,,2013-10-04 00:00:00
27,12 Years a Slave,0.0,0.00,0.0,0.0,0.0,2012,,2013-10-11 00:00:00
28,12 Years a Slave,1259943.0,0.00,66313.0,1259943.0,1.0,2013,2013-10-18,2013-10-18 00:00:00
29,12 Years a Slave,2900381.0,1.30,23580.0,4160324.0,2.0,2013,,2013-10-25 00:00:00
...,...,...,...,...,...,...,...,...,...
3670,Zootopia,0.0,0.00,0.0,0.0,-7.0,2012,,2016-01-08 00:00:00
3671,Zootopia,0.0,0.00,0.0,0.0,-6.0,2012,,2016-01-15 00:00:00
3672,Zootopia,0.0,0.00,0.0,0.0,-5.0,2012,,2016-01-22 00:00:00
3673,Zootopia,0.0,0.00,0.0,0.0,-4.0,2012,,2016-01-29 00:00:00
3674,Zootopia,0.0,0.00,0.0,0.0,-3.0,2012,,2016-02-05 00:00:00
3675,Zootopia,0.0,0.00,0.0,0.0,-2.0,2012,,2016-02-12 00:00:00
3676,Zootopia,0.0,0.00,0.0,0.0,-1.0,2012,,2016-02-19 00:00:00
3677,Zootopia,0.0,0.00,0.0,0.0,0.0,2012,,2016-02-26 00:00:00
3678,Zootopia,92615126.0,0.00,24200.0,92615126.0,1.0,2016,2016-03-4,2016-03-04 00:00:00
3679,Zootopia,71150371.0,-0.23,18592.0,163765497.0,2.0,2016,,2016-03-11 00:00:00
3680,Zootopia,53643912.0,-0.25,13550.0,217409409.0,3.0,2016,,2016-03-18 00:00:00
3681,Zootopia,38529901.0,-0.28,10499.0,255939310.0,4.0,2016,,2016-03-25 00:00:00
3682,Zootopia,25720172.0,-0.33,6955.0,281659482.0,5.0,2016,,2016-04-01 00:00:00
3683,Zootopia,17584274.0,-0.32,5106.0,299243756.0,6.0,2016,,2016-04-08 00:00:00
3684,Zootopia,10580850.0,-0.40,3297.0,309824606.0,7.0,2016,,2016-04-15 00:00:00
3685,Zootopia,8687883.0,-0.18,3105.0,318512489.0,8.0,2016,,2016-04-22 00:00:00
3686,Zootopia,6435501.0,-0.26,2588.0,324947990.0,9.0,2016,,2016-04-29 00:00:00
3687,Zootopia,4066449.0,-0.37,1958.0,329014439.0,10.0,2016,,2016-05-06 00:00:00
3688,Zootopia,3686089.0,-0.09,1905.0,332700528.0,11.0,2016,,2016-05-13 00:00:00
3689,Zootopia,2343117.0,-0.36,1702.0,335043645.0,12.0,2016,,2016-05-20 00:00:00
3690,Zootopia,1386037.0,-0.41,2423.0,336429682.0,13.0,2016,,2016-05-27 00:00:00
3691,Zootopia,1211837.0,-0.13,3030.0,337641519.0,14.0,2016,,2016-06-03 00:00:00
3692,Zootopia,917970.0,-0.24,2878.0,338559489.0,15.0,2016,,2016-06-10 00:00:00
3693,Zootopia,1529653.0,0.67,5015.0,340089142.0,16.0,2016,,2016-06-17 00:00:00
3694,Zootopia,462677.0,-0.70,1986.0,340551819.0,17.0,2016,,2016-06-24 00:00:00
3695,Zootopia,303428.0,-0.34,1589.0,340855247.0,18.0,2016,,2016-07-01 00:00:00
3696,Zootopia,217299.0,-0.28,1350.0,341072546.0,19.0,2016,,2016-07-08 00:00:00
3697,Zootopia,124232.0,-0.43,948.0,341196778.0,20.0,2016,,2016-07-15 00:00:00
3698,Zootopia,60416.0,-0.51,719.0,341257194.0,21.0,2016,,2016-07-22 00:00:00
3699,Zootopia,11054.0,-0.82,461.0,341268248.0,22.0,2016,,2016-07-29 00:00:00

In [708]:
revenue5_final_5['since_str']=np.array([str(revenue5_final_5['since_date'][i]).split(' ')[0] for i in range(0,len(revenue5_final_5))])

In [709]:
revenue5_final_5['since_str']=np.array([str(revenue5_final_5['since_date'][i]).split(' ')[0] 
                                        for i in range(0,len(revenue5_final_5))])

revenue5_final_5['until_date']=revenue5_final_5['since_date']+datetime.timedelta(7)

revenue5_final_5['until_str']=np.array([str(revenue5_final_5['until_date'][i]).split(' ')[0] 
                                        for i in range(0,len(revenue5_final_5))])

revenue5_final_5['Month']=np.array([(revenue5_final_5['since_str'][i]).split('-')[1] 
                                        for i in range(0,len(revenue5_final_5))])

revenue5_final_5['Day']=np.array([(revenue5_final_5['since_str'][i]).split('-')[2] 
                                        for i in range(0,len(revenue5_final_5))])

revenue5_final_5['Year']=np.array([(revenue5_final_5['since_str'][i]).split('-')[0] 
                                        for i in range(0,len(revenue5_final_5))])

In [710]:
revenue5_final_5

,Movie_Name,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str,since_date,until_date,until_str,Month,Day
0,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-7.0,2016,2016-01-15,2016-01-15 00:00:00,2016-01-22,2016-01-22,01,15
1,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-6.0,2016,2016-01-22,2016-01-22 00:00:00,2016-01-29,2016-01-29,01,22
2,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-5.0,2016,2016-01-29,2016-01-29 00:00:00,2016-02-05,2016-02-05,01,29
3,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-4.0,2016,2016-02-05,2016-02-05 00:00:00,2016-02-12,2016-02-12,02,05
4,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-3.0,2016,2016-02-12,2016-02-12 00:00:00,2016-02-19,2016-02-19,02,12
5,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-2.0,2016,2016-02-19,2016-02-19 00:00:00,2016-02-26,2016-02-26,02,19
6,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-1.0,2016,2016-02-26,2016-02-26 00:00:00,2016-03-04,2016-03-04,02,26
7,10 Cloverfield Lane,0.0,0.00,0.0,0.0,0.0,2016,2016-03-04,2016-03-04 00:00:00,2016-03-11,2016-03-11,03,04
8,10 Cloverfield Lane,32676639.0,0.00,9636.0,32676639.0,1.0,2016,2016-03-11,2016-03-11 00:00:00,2016-03-18,2016-03-18,03,11
9,10 Cloverfield Lane,17334158.0,-0.47,5058.0,50010797.0,2.0,2016,2016-03-18,2016-03-18 00:00:00,2016-03-25,2016-03-25,03,18
10,10 Cloverfield Lane,8802263.0,-0.49,3141.0,58813060.0,3.0,2016,2016-03-25,2016-03-25 00:00:00,2016-04-01,2016-04-01,03,25
11,10 Cloverfield Lane,6162480.0,-0.30,2454.0,64975540.0,4.0,2016,2016-04-01,2016-04-01 00:00:00,2016-04-08,2016-04-08,04,01
12,10 Cloverfield Lane,3759141.0,-0.39,1993.0,68734681.0,5.0,2016,2016-04-08,2016-04-08 00:00:00,2016-04-15,2016-04-15,04,08
13,10 Cloverfield Lane,1440070.0,-0.62,1327.0,70174751.0,6.0,2016,2016-04-15,2016-04-15 00:00:00,2016-04-22,2016-04-22,04,15
14,10 Cloverfield Lane,774997.0,-0.46,1303.0,70949748.0,7.0,2016,2016-04-22,2016-04-22 00:00:00,2016-04-29,2016-04-29,04,22
15,10 Cloverfield Lane,394644.0,-0.49,1294.0,71344392.0,8.0,2016,2016-04-29,2016-04-29 00:00:00,2016-05-06,2016-05-06,04,29
16,10 Cloverfield Lane,166414.0,-0.58,946.0,71510806.0,9.0,2016,2016-05-06,2016-05-06 00:00:00,2016-05-13,2016-05-13,05,06
17,10 Cloverfield Lane,274461.0,0.65,1056.0,71785267.0,10.0,2016,2016-05-13,2016-05-13 00:00:00,2016-05-20,2016-05-20,05,13
18,10 Cloverfield Lane,161535.0,-0.41,918.0,71946802.0,11.0,2016,2016-05-20,2016-05-20 00:00:00,2016-05-27,2016-05-27,05,20
19,10 Cloverfield Lane,136196.0,-0.16,1135.0,72082998.0,12.0,2016,2016-05-27,2016-05-27 00:00:00,2016-06-03,2016-06-03,05,27
20,12 Years a Slave,0.0,0.00,0.0,0.0,-7.0,2013,2013-08-23,2013-08-23 00:00:00,2013-08-30,2013-08-30,08,23
21,12 Years a Slave,0.0,0.00,0.0,0.0,-6.0,2013,2013-08-30,2013-08-30 00:00:00,2013-09-06,2013-09-06,08,30
22,12 Years a Slave,0.0,0.00,0.0,0.0,-5.0,2013,2013-09-06,2013-09-06 00:00:00,2013-09-13,2013-09-13,09,06
23,12 Years a Slave,0.0,0.00,0.0,0.0,-4.0,2013,2013-09-13,2013-09-13 00:00:00,2013-09-20,2013-09-20,09,13
24,12 Years a Slave,0.0,0.00,0.0,0.0,-3.0,2013,2013-09-20,2013-09-20 00:00:00,2013-09-27,2013-09-27,09,20
25,12 Years a Slave,0.0,0.00,0.0,0.0,-2.0,2013,2013-09-27,2013-09-27 00:00:00,2013-10-04,2013-10-04,09,27
26,12 Years a Slave,0.0,0.00,0.0,0.0,-1.0,2013,2013-10-04,2013-10-04 00:00:00,2013-10-11,2013-10-11,10,04
27,12 Years a Slave,0.0,0.00,0.0,0.0,0.0,2013,2013-10-11,2013-10-11 00:00:00,2013-10-18,2013-10-18,10,11
28,12 Years a Slave,1259943.0,0.00,66313.0,1259943.0,1.0,2013,2013-10-18,2013-10-18 00:00:00,2013-10-25,2013-10-25,10,18
29,12 Years a Slave,2900381.0,1.30,23580.0,4160324.0,2.0,2013,2013-10-25,2013-10-25 00:00:00,2013-11-01,2013-11-01,10,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3670,Zootopia,0.0,0.00,0.0,0.0,-7.0,2016,2016-01-08,2016-01-08 00:00:00,2016-01-15,2016-01-15,01,08
3671,Zootopia,0.0,0.00,0.0,0.0,-6.0,2016,2016-01-15,2016-01-15 00:00:00,2016-01-22,2016-01-22,01,15
3672,Zootopia,0.0,0.00,0.0,0.0,-5.0,2016,2016-01-22,2016-01-22 00:00:00,2016-01-29,2016-01-29,01,22
3673,Zootopia,0.0,0.00,0.0,0.0,-4.0,2016,2016-01-29,2016-01-29 00:00:00,2016-02-05,2016-02-05,01,29
3674,Zootopia,0.0,0.00,0.0,0.0,-3.0,2016,2016-02-05,2016-02-05 00:00:00,2016-02-12,2016-02-12,02,05
3675,Zootopia,0.0,0.00,0.0,0.0,-2.0,2016,2016-02-12,2016-02-12 00:00:00,2016-02-19,2016-02-19,02,12
3676,Zootopia,0.0,0.00,0.0,0.0,-1.0,2016,2016-02-19,2016-02-19 00:00:00,2016-02-26,2016-02-26,02,19
3677,Zootopia,0.0,0.00,0.0,0.0,0.0,2016,2016-02-26,2016-02-26 00:00:00,2016-03-04,2016-03-04,02,26
3678,Zootopia,92615126.0,0.00,24200.0,92615126.0,1.0,2016,2016-03-04,2016-03-04 00:00:00,2016-03-11,2016-03-11,03,04
3679,Zootopia,71150371.0,-0.23,18592.0,163765497.0,2.0,2016,2016-03-11,2016-03-11 00:00:00,2016-03-18,2016-03-18,03,11
3680,Zootopia,53643912.0,-0.25,13550.0,217409409.0,3.0,2016,2016-03-18,2016-03-18 00:00:00,2016-03-25,2016-03-25,03,18
3681,Zootopia,38529901.0,-0.28,10499.0,255939310.0,4.0,2016,2016-03-25,2016-03-25 00:00:00,2016-04-01,2016-04-01,03,25
3682,Zootopia,25720172.0,-0.33,6955.0,281659482.0,5.0,2016,2016-04-01,2016-04-01 00:00:00,2016-04-08,2016-04-08,04,01
3683,Zootopia,17584274.0,-0.32,5106.0,299243756.0,6.0,2016,2016-04-08,2016-04-08 00:00:00,2016-04-15,2016-04-15,04,08
3684,Zootopia,10580850.0,-0.40,3297.0,309824606.0,7.0,2016,2016-04-15,2016-04-15 00:00:00,2016-04-22,2016-04-22,04,15
3685,Zootopia,8687883.0,-0.18,3105.0,318512489.0,8.0,2016,2016-04-22,2016-04-22 00:00:00,2016-04-29,2016-04-29,04,22
3686,Zootopia,6435501.0,-0.26,2588.0,324947990.0,9.0,2016,2016-04-29,2016-04-29 00:00:00,2016-05-06,2016-05-06,04,29
3687,Zootopia,4066449.0,-0.37,1958.0,329014439.0,10.0,2016,2016-05-06,2016-05-06 00:00:00,2016-05-13,2016-05-13,05,06
3688,Zootopia,3686089.0,-0.09,1905.0,332700528.0,11.0,2016,2016-05-13,2016-05-13 00:00:00,2016-05-20,2016-05-20,05,13
3689,Zootopia,2343117.0,-0.36,1702.0,335043645.0,12.0,2016,2016-05-20,2016-05-20 00:00:00,2016-05-27,2016-05-27,05,20
3690,Zootopia,1386037.0,-0.41,2423.0,336429682.0,13.0,2016,2016-05-27,2016-05-27 00:00:00,2016-06-03,2016-06-03,05,27
3691,Zootopia,1211837.0,-0.13,3030.0,337641519.0,14.0,2016,2016-06-03,2016-06-03 00:00:00,2016-06-10,2016-06-10,06,03
3692,Zootopia,917970.0,-0.24,2878.0,338559489.0,15.0,2016,2016-06-10,2016-06-10 00:00:00,2016-06-17,2016-06-17,06,10
3693,Zootopia,1529653.0,0.67,5015.0,340089142.0,16.0,2016,2016-06-17,2016-06-17 00:00:00,2016-06-24,2016-06-24,06,17
3694,Zootopia,462677.0,-0.70,1986.0,340551819.0,17.0,2016,2016-06-24,2016-06-24 00:00:00,2016-07-01,2016-07-01,06,24
3695,Zootopia,303428.0,-0.34,1589.0,340855247.0,18.0,2016,2016-07-01,2016-07-01 00:00:00,2016-07-08,2016-07-08,07,01
3696,Zootopia,217299.0,-0.28,1350.0,341072546.0,19.0,2016,2016-07-08,2016-07-08 00:00:00,2016-07-15,2016-07-15,07,08
3697,Zootopia,124232.0,-0.43,948.0,341196778.0,20.0,2016,2016-07-15,2016-07-15 00:00:00,2016-07-22,2016-07-22,07,15
3698,Zootopia,60416.0,-0.51,719.0,341257194.0,21.0,2016,2016-07-22,2016-07-22 00:00:00,2016-07-29,2016-07-29,07,22
3699,Zootopia,11054.0,-0.82,461.0,341268248.0,22.0,2016,2016-07-29,2016-07-29 00:00:00,2016-08-05,2016-08-05,07,29

In [711]:
revenue5_final_5.to_csv("MovieRevenue_Cleaned_1.csv",index=False)

# ---------------Merging and Slice data for Twitter Web Crawler----------------

In [712]:
revenue1_c=pd.read_csv('MovieRevenue_Cleaned_1.csv',encoding = "ISO-8859-1")
revenue2_c=pd.read_csv('MovieRevenue_Cleaned_2.csv',encoding = "ISO-8859-1")
revenue3_c=pd.read_csv('MovieRevenue_Cleaned_3.csv',encoding = "ISO-8859-1")
revenue4_c=pd.read_csv('MovieRevenue_Cleaned_4.csv',encoding = "ISO-8859-1")
revenue5_c=pd.read_csv('MovieRevenue_Cleaned_5.csv',encoding = "ISO-8859-1")

In [720]:
revenue4_c

,Movie_Name,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str,since_date,until_date,until_str,Month,Day
0,10 Years,0.0,0.00,0.0,0.0,-7.0,2011,2011-07-20,2011-07-20 00:00:00,2011-07-27,2011-07-27,7,20
1,10 Years,0.0,0.00,0.0,0.0,-6.0,2011,2011-07-27,2011-07-27 00:00:00,2011-08-03,2011-08-03,7,27
2,10 Years,0.0,0.00,0.0,0.0,-5.0,2011,2011-08-03,2011-08-03 00:00:00,2011-08-10,2011-08-10,8,3
3,10 Years,0.0,0.00,0.0,0.0,-4.0,2011,2011-08-10,2011-08-10 00:00:00,2011-08-17,2011-08-17,8,10
4,10 Years,0.0,0.00,0.0,0.0,-3.0,2011,2011-08-17,2011-08-17 00:00:00,2011-08-24,2011-08-24,8,17
5,10 Years,0.0,0.00,0.0,0.0,-2.0,2011,2011-08-24,2011-08-24 00:00:00,2011-08-31,2011-08-31,8,24
6,10 Years,0.0,0.00,0.0,0.0,-1.0,2011,2011-08-31,2011-08-31 00:00:00,2011-09-07,2011-09-07,8,31
7,10 Years,0.0,0.00,0.0,0.0,0.0,2011,2011-09-07,2011-09-07 00:00:00,2011-09-14,2011-09-14,9,7
8,10 Years,30915.0,0.00,10305.0,30915.0,1.0,2011,2011-09-14,2011-09-14 00:00:00,2011-09-21,2011-09-21,9,14
9,10 Years,107149.0,2.47,2492.0,138064.0,2.0,2011,2011-09-21,2011-09-21 00:00:00,2011-09-28,2011-09-28,9,21
10,10 Years,57563.0,-0.46,914.0,195627.0,3.0,2011,2011-09-28,2011-09-28 00:00:00,2011-10-05,2011-10-05,9,28
11,10 Years,7746.0,-0.87,369.0,203373.0,4.0,2011,2011-10-05,2011-10-05 00:00:00,2011-10-12,2011-10-12,10,5
12,A Hologram for the King,0.0,0.00,0.0,0.0,-7.0,2016,2016-02-26,2016-02-26 00:00:00,2016-03-04,2016-03-04,2,26
13,A Hologram for the King,0.0,0.00,0.0,0.0,-6.0,2016,2016-03-04,2016-03-04 00:00:00,2016-03-11,2016-03-11,3,4
14,A Hologram for the King,0.0,0.00,0.0,0.0,-5.0,2016,2016-03-11,2016-03-11 00:00:00,2016-03-18,2016-03-18,3,11
15,A Hologram for the King,0.0,0.00,0.0,0.0,-4.0,2016,2016-03-18,2016-03-18 00:00:00,2016-03-25,2016-03-25,3,18
16,A Hologram for the King,0.0,0.00,0.0,0.0,-3.0,2016,2016-03-25,2016-03-25 00:00:00,2016-04-01,2016-04-01,3,25
17,A Hologram for the King,0.0,0.00,0.0,0.0,-2.0,2016,2016-04-01,2016-04-01 00:00:00,2016-04-08,2016-04-08,4,1
18,A Hologram for the King,0.0,0.00,0.0,0.0,-1.0,2016,2016-04-08,2016-04-08 00:00:00,2016-04-15,2016-04-15,4,8
19,A Hologram for the King,0.0,0.00,0.0,0.0,0.0,2016,2016-04-15,2016-04-15 00:00:00,2016-04-22,2016-04-22,4,15
20,A Hologram for the King,1621414.0,0.00,4043.0,1621414.0,1.0,2016,2016-04-22,2016-04-22 00:00:00,2016-04-29,2016-04-29,4,22
21,A Hologram for the King,1300895.0,-0.20,2487.0,2922309.0,2.0,2016,2016-04-29,2016-04-29 00:00:00,2016-05-06,2016-05-06,4,29
22,A Hologram for the King,716612.0,-0.45,1792.0,3638921.0,3.0,2016,2016-05-06,2016-05-06 00:00:00,2016-05-13,2016-05-13,5,6
23,A Hologram for the King,351691.0,-0.51,1016.0,3990612.0,4.0,2016,2016-05-13,2016-05-13 00:00:00,2016-05-20,2016-05-20,5,13
24,A Hologram for the King,98475.0,-0.72,714.0,4089087.0,5.0,2016,2016-05-20,2016-05-20 00:00:00,2016-05-27,2016-05-27,5,20
25,A Hologram for the King,40013.0,-0.59,1053.0,4129100.0,6.0,2016,2016-05-27,2016-05-27 00:00:00,2016-06-03,2016-06-03,5,27
26,A Hologram for the King,24986.0,-0.38,925.0,4154086.0,7.0,2016,2016-06-03,2016-06-03 00:00:00,2016-06-10,2016-06-10,6,3
27,A Hologram for the King,17259.0,-0.31,1015.0,4171345.0,8.0,2016,2016-06-10,2016-06-10 00:00:00,2016-06-17,2016-06-17,6,10
28,A Hologram for the King,17999.0,0.04,1125.0,4189344.0,9.0,2016,2016-06-17,2016-06-17 00:00:00,2016-06-24,2016-06-24,6,17
29,A Hologram for the King,13851.0,-0.23,989.0,4203195.0,10.0,2016,2016-06-24,2016-06-24 00:00:00,2016-07-01,2016-07-01,6,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,Wreck-It Ralph,124529.0,-0.44,798.0,189209914.0,23.0,2013,2013-04-05,2013-04-05 00:00:00,2013-04-12,2013-04-12,4,5
2636,Wreck-It Ralph,96612.0,-0.22,721.0,189306526.0,24.0,2013,2013-04-12,2013-04-12 00:00:00,2013-04-19,2013-04-19,4,12
2637,Wreck-It Ralph,70304.0,-0.27,617.0,189376830.0,25.0,2013,2013-04-19,2013-04-19 00:00:00,2013-04-26,2013-04-26,4,19
2638,Wreck-It Ralph,46059.0,-0.35,576.0,189422889.0,26.0,2013,2013-04-26,2013-04-26 00:00:00,2013-05-03,2013-05-03,4,26
2639,X-Men: The Last Stand,0.0,0.00,0.0,0.0,-7.0,2006,2006-03-31,2006-03-31 00:00:00,2006-04-07,2006-04-07,3,31
2640,X-Men: The Last Stand,0.0,0.00,0.0,0.0,-6.0,2006,2006-04-07,2006-04-07 00:00:00,2006-04-14,2006-04-14,4,7
2641,X-Men: The Last Stand,0.0,0.00,0.0,0.0,-5.0,2006,2006-04-14,2006-04-14 00:00:00,2006-04-21,2006-04-21,4,14
2642,X-Men: The Last Stand,0.0,0.00,0.0,0.0,-4.0,2006,2006-04-21,2006-04-21 00:00:00,2006-04-28,2006-04-28,4,21
2643,X-Men: The Last Stand,0.0,0.00,0.0,0.0,-3.0,2006,2006-04-28,2006-04-28 00:00:00,2006-05-05,2006-05-05,4,28
2644,X-Men: The Last Stand,0.0,0.00,0.0,0.0,-2.0,2006,2006-05-05,2006-05-05 00:00:00,2006-05-12,2006-05-12,5,5
2645,X-Men: The Last Stand,0.0,0.00,0.0,0.0,-1.0,2006,2006-05-12,2006-05-12 00:00:00,2006-05-19,2006-05-19,5,12
2646,X-Men: The Last Stand,0.0,0.00,0.0,0.0,0.0,2006,2006-05-19,2006-05-19 00:00:00,2006-05-26,2006-05-26,5,19
2647,X-Men: The Last Stand,141331162.0,0.00,38301.0,141331162.0,1.0,2006,2006-05-26,2006-05-26 00:00:00,2006-06-02,2006-06-02,5,26
2648,X-Men: The Last Stand,44834912.0,-0.68,12072.0,186166074.0,2.0,2006,2006-06-02,2006-06-02 00:00:00,2006-06-09,2006-06-09,6,2
2649,X-Men: The Last Stand,22232526.0,-0.50,6041.0,208398600.0,3.0,2006,2006-06-09,2006-06-09 00:00:00,2006-06-16,2006-06-16,6,9
2650,X-Men: The Last Stand,11265612.0,-0.49,4006.0,219664212.0,4.0,2006,2006-06-16,2006-06-16 00:00:00,2006-06-23,2006-06-23,6,16
2651,X-Men: The Last Stand,6819182.0,-0.40,3776.0,226483394.0,5.0,2006,2006-06-23,2006-06-23 00:00:00,2006-06-30,2006-06-30,6,23
2652,X-Men: The Last Stand,3930011.0,-0.42,2522.0,230413405.0,6.0,2006,2006-06-30,2006-06-30 00:00:00,2006-07-07,2006-07-07,6,30
2653,X-Men: The Last Stand,1388788.0,-0.65,1669.0,231802193.0,7.0,2006,2006-07-07,2006-07-07 00:00:00,2006-07-14,2006-07-14,7,7
2654,X-Men: The Last Stand,828952.0,-0.40,1400.0,232631145.0,8.0,2006,2006-07-14,2006-07-14 00:00:00,2006-07-21,2006-07-21,7,14
2655,X-Men: The Last Stand,484107.0,-0.42,1458.0,233115252.0,9.0,2006,2006-07-21,2006-07-21 00:00:00,2006-07-28,2006-07-28,7,21
2656,X-Men: The Last Stand,409398.0,-0.15,1393.0,233524650.0,10.0,2006,2006-07-28,2006-07-28 00:00:00,2006-08-04,2006-08-04,7,28
2657,X-Men: The Last Stand,303892.0,-0.26,1134.0,233828542.0,11.0,2006,2006-08-04,2006-08-04 00:00:00,2006-08-11,2006-08-11,8,4
2658,X-Men: The Last Stand,222879.0,-0.27,1018.0,234051421.0,12.0,2006,2006-08-11,2006-08-11 00:00:00,2006-08-18,2006-08-18,8,11
2659,X-Men: The Last Stand,149040.0,-0.33,837.0,234200461.0,13.0,2006,2006-08-18,2006-08-18 00:00:00,2006-08-25,2006-08-25,8,18
2660,X-Men: The Last Stand,63164.0,-0.58,632.0,234263625.0,14.0,2006,2006-08-25,2006-08-25 00:00:00,2006-09-01,2006-09-01,8,25
2661,X-Men: The Last Stand,50026.0,-0.21,944.0,234313651.0,15.0,2006,2006-09-01,2006-09-01 00:00:00,2006-09-08,2006-09-08,9,1
2662,X-Men: The Last Stand,23425.0,-0.53,601.0,234337076.0,16.0,2006,2006-09-08,2006-09-08 00:00:00,2006-09-15,2006-09-15,9,8
2663,X-Men: The Last Stand,14689.0,-0.37,773.0,234351765.0,17.0,2006,2006-09-15,2006-09-15 00:00:00,2006-09-22,2006-09-22,9,15
2664,X-Men: The Last Stand,10697.0,-0.27,509.0,234362462.0,18.0,2006,2006-09-22,2006-09-22 00:00:00,2006-09-29,2006-09-29,9,22

In [715]:
revenue1_c.append(revenue2_c).append(revenue3_c).append(revenue4_c).append(revenue5_c)

,Movie_Name,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str,since_date,until_date,until_str,Month,Day
0,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-7.0,2016,2016-01-15,2016-01-15 00:00:00,2016-01-22,2016-01-22,1,15
1,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-6.0,2016,2016-01-22,2016-01-22 00:00:00,2016-01-29,2016-01-29,1,22
2,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-5.0,2016,2016-01-29,2016-01-29 00:00:00,2016-02-05,2016-02-05,1,29
3,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-4.0,2016,2016-02-05,2016-02-05 00:00:00,2016-02-12,2016-02-12,2,5
4,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-3.0,2016,2016-02-12,2016-02-12 00:00:00,2016-02-19,2016-02-19,2,12
5,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-2.0,2016,2016-02-19,2016-02-19 00:00:00,2016-02-26,2016-02-26,2,19
6,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-1.0,2016,2016-02-26,2016-02-26 00:00:00,2016-03-04,2016-03-04,2,26
7,10 Cloverfield Lane,0.0,0.00,0.0,0.0,0.0,2016,2016-03-04,2016-03-04 00:00:00,2016-03-11,2016-03-11,3,4
8,10 Cloverfield Lane,32676639.0,0.00,9636.0,32676639.0,1.0,2016,2016-03-11,2016-03-11 00:00:00,2016-03-18,2016-03-18,3,11
9,10 Cloverfield Lane,17334158.0,-0.47,5058.0,50010797.0,2.0,2016,2016-03-18,2016-03-18 00:00:00,2016-03-25,2016-03-25,3,18
10,10 Cloverfield Lane,8802263.0,-0.49,3141.0,58813060.0,3.0,2016,2016-03-25,2016-03-25 00:00:00,2016-04-01,2016-04-01,3,25
11,10 Cloverfield Lane,6162480.0,-0.30,2454.0,64975540.0,4.0,2016,2016-04-01,2016-04-01 00:00:00,2016-04-08,2016-04-08,4,1
12,10 Cloverfield Lane,3759141.0,-0.39,1993.0,68734681.0,5.0,2016,2016-04-08,2016-04-08 00:00:00,2016-04-15,2016-04-15,4,8
13,10 Cloverfield Lane,1440070.0,-0.62,1327.0,70174751.0,6.0,2016,2016-04-15,2016-04-15 00:00:00,2016-04-22,2016-04-22,4,15
14,10 Cloverfield Lane,774997.0,-0.46,1303.0,70949748.0,7.0,2016,2016-04-22,2016-04-22 00:00:00,2016-04-29,2016-04-29,4,22
15,10 Cloverfield Lane,394644.0,-0.49,1294.0,71344392.0,8.0,2016,2016-04-29,2016-04-29 00:00:00,2016-05-06,2016-05-06,4,29
16,10 Cloverfield Lane,166414.0,-0.58,946.0,71510806.0,9.0,2016,2016-05-06,2016-05-06 00:00:00,2016-05-13,2016-05-13,5,6
17,10 Cloverfield Lane,274461.0,0.65,1056.0,71785267.0,10.0,2016,2016-05-13,2016-05-13 00:00:00,2016-05-20,2016-05-20,5,13
18,10 Cloverfield Lane,161535.0,-0.41,918.0,71946802.0,11.0,2016,2016-05-20,2016-05-20 00:00:00,2016-05-27,2016-05-27,5,20
19,10 Cloverfield Lane,136196.0,-0.16,1135.0,72082998.0,12.0,2016,2016-05-27,2016-05-27 00:00:00,2016-06-03,2016-06-03,5,27
20,12 Years a Slave,0.0,0.00,0.0,0.0,-7.0,2013,2013-08-23,2013-08-23 00:00:00,2013-08-30,2013-08-30,8,23
21,12 Years a Slave,0.0,0.00,0.0,0.0,-6.0,2013,2013-08-30,2013-08-30 00:00:00,2013-09-06,2013-09-06,8,30
22,12 Years a Slave,0.0,0.00,0.0,0.0,-5.0,2013,2013-09-06,2013-09-06 00:00:00,2013-09-13,2013-09-13,9,6
23,12 Years a Slave,0.0,0.00,0.0,0.0,-4.0,2013,2013-09-13,2013-09-13 00:00:00,2013-09-20,2013-09-20,9,13
24,12 Years a Slave,0.0,0.00,0.0,0.0,-3.0,2013,2013-09-20,2013-09-20 00:00:00,2013-09-27,2013-09-27,9,20
25,12 Years a Slave,0.0,0.00,0.0,0.0,-2.0,2013,2013-09-27,2013-09-27 00:00:00,2013-10-04,2013-10-04,9,27
26,12 Years a Slave,0.0,0.00,0.0,0.0,-1.0,2013,2013-10-04,2013-10-04 00:00:00,2013-10-11,2013-10-11,10,4
27,12 Years a Slave,0.0,0.00,0.0,0.0,0.0,2013,2013-10-11,2013-10-11 00:00:00,2013-10-18,2013-10-18,10,11
28,12 Years a Slave,1259943.0,0.00,66313.0,1259943.0,1.0,2013,2013-10-18,2013-10-18 00:00:00,2013-10-25,2013-10-25,10,18
29,12 Years a Slave,2900381.0,1.30,23580.0,4160324.0,2.0,2013,2013-10-25,2013-10-25 00:00:00,2013-11-01,2013-11-01,10,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171,Your Highness,0.0,0.00,0.0,0.0,-2.0,2011,2011-03-18,2011-03-18 00:00:00,2011-03-25,2011-03-25,3,18
5172,Your Highness,0.0,0.00,0.0,0.0,-1.0,2011,2011-03-25,2011-03-25 00:00:00,2011-04-01,2011-04-01,3,25
5173,Your Highness,0.0,0.00,0.0,0.0,0.0,2011,2011-04-01,2011-04-01 00:00:00,2011-04-08,2011-04-08,4,1
5174,Your Highness,12057765.0,0.00,4355.0,12057765.0,1.0,2011,2011-04-08,2011-04-08 00:00:00,2011-04-15,2011-04-15,4,8
5175,Your Highness,6000190.0,-0.50,2165.0,18057955.0,2.0,2011,2011-04-15,2011-04-15 00:00:00,2011-04-22,2011-04-22,4,15
5176,Your Highness,2414990.0,-0.60,1500.0,20472945.0,3.0,2011,2011-04-22,2011-04-22 00:00:00,2011-04-29,2011-04-29,4,22
5177,Your Highness,769825.0,-0.68,1915.0,21242770.0,4.0,2011,2011-04-29,2011-04-29 00:00:00,2011-05-06,2011-05-06,4,29
5178,Your Highness,219010.0,-0.72,1335.0,21461780.0,5.0,2011,2011-05-06,2011-05-06 00:00:00,2011-05-13,2011-05-13,5,6
5179,Your Highness,134665.0,-0.39,910.0,21596445.0,6.0,2011,2011-05-13,2011-05-13 00:00:00,2011-05-20,2011-05-20,5,13
5180,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-7.0,2008,2008-09-05,2008-09-05 00:00:00,2008-09-12,2008-09-12,9,5
5181,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-6.0,2008,2008-09-12,2008-09-12 00:00:00,2008-09-19,2008-09-19,9,12
5182,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-5.0,2008,2008-09-19,2008-09-19 00:00:00,2008-09-26,2008-09-26,9,19
5183,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-4.0,2008,2008-09-26,2008-09-26 00:00:00,2008-10-03,2008-10-03,9,26
5184,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-3.0,2008,2008-10-03,2008-10-03 00:00:00,2008-10-10,2008-10-10,10,3
5185,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-2.0,2008,2008-10-10,2008-10-10 00:00:00,2008-10-17,2008-10-17,10,10
5186,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-1.0,2008,2008-10-17,2008-10-17 00:00:00,2008-10-24,2008-10-24,10,17
5187,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,0.0,2008,2008-10-24,2008-10-24 00:00:00,2008-10-31,2008-10-31,10,24
5188,Zack and Miri Make a Porno,14412377.0,0.00,5270.0,14412377.0,1.0,2008,2008-10-31,2008-10-31 00:00:00,2008-11-07,2008-11-07,10,31
5189,Zack and Miri Make a Porno,8906793.0,-0.38,3257.0,23319170.0,2.0,2008,2008-11-07,2008-11-07 00:00:00,2008-11-14,2008-11-14,11,7
5190,Zack and Miri Make a Porno,4331280.0,-0.51,1960.0,27650450.0,3.0,2008,2008-11-14,2008-11-14 00:00:00,2008-11-21,2008-11-21,11,14
5191,Zack and Miri Make a Porno,2264931.0,-0.48,5183.0,29915381.0,4.0,2008,2008-11-21,2008-11-21 00:00:00,2008-11-28,2008-11-28,11,21
5192,Zack and Miri Make a Porno,697798.0,-0.69,1597.0,30613179.0,5.0,2008,2008-11-28,2008-11-28 00:00:00,2008-12-05,2008-12-05,11,28
5193,Zack and Miri Make a Porno,333961.0,-0.52,1214.0,30947140.0,6.0,2008,2008-12-05,2008-12-05 00:00:00,2008-12-12,2008-12-12,12,5
5194,Zack and Miri Make a Porno,169560.0,-0.49,1040.0,31116700.0,7.0,2008,2008-12-12,2008-12-12 00:00:00,2008-12-19,2008-12-19,12,12
5195,Zack and Miri Make a Porno,60638.0,-0.64,1318.0,31177338.0,8.0,2008,2008-12-19,2008-12-19 00:00:00,2008-12-26,2008-12-26,12,19
5196,Zack and Miri Make a Porno,55955.0,-0.08,1216.0,31233293.0,9.0,2008,2008-12-26,2008-12-26 00:00:00,2009-01-02,2009-01-02,12,26
5197,Zack and Miri Make a Porno,101453.0,0.81,995.0,31334746.0,10.0,2009,2009-01-02,2009-01-02 00:00:00,2009-01-09,2009-01-09,1,2
5198,Zack and Miri Make a Porno,76370.0,-0.25,741.0,31411116.0,11.0,2009,2009-01-09,2009-01-09 00:00:00,2009-01-16,2009-01-16,1,9
5199,Zack and Miri Make a Porno,31187.0,-0.59,624.0,31442303.0,12.0,2009,2009-01-16,2009-01-16 00:00:00,2009-01-23,2009-01-23,1,16
5200,Zack and Miri Make a Porno,15643.0,-0.50,579.0,31457946.0,13.0,2009,2009-01-23,2009-01-23 00:00:00,2009-01-30,2009-01-30,1,23

In [716]:
data=revenue1_c.append(revenue2_c).append(revenue3_c).append(revenue4_c).append(revenue5_c)

In [722]:
data=data.reset_index()

In [723]:
data

,index,Movie_Name,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str,since_date,until_date,until_str,Month,Day
0,0,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-7.0,2016,2016-01-15,2016-01-15 00:00:00,2016-01-22,2016-01-22,1,15
1,1,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-6.0,2016,2016-01-22,2016-01-22 00:00:00,2016-01-29,2016-01-29,1,22
2,2,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-5.0,2016,2016-01-29,2016-01-29 00:00:00,2016-02-05,2016-02-05,1,29
3,3,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-4.0,2016,2016-02-05,2016-02-05 00:00:00,2016-02-12,2016-02-12,2,5
4,4,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-3.0,2016,2016-02-12,2016-02-12 00:00:00,2016-02-19,2016-02-19,2,12
5,5,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-2.0,2016,2016-02-19,2016-02-19 00:00:00,2016-02-26,2016-02-26,2,19
6,6,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-1.0,2016,2016-02-26,2016-02-26 00:00:00,2016-03-04,2016-03-04,2,26
7,7,10 Cloverfield Lane,0.0,0.00,0.0,0.0,0.0,2016,2016-03-04,2016-03-04 00:00:00,2016-03-11,2016-03-11,3,4
8,8,10 Cloverfield Lane,32676639.0,0.00,9636.0,32676639.0,1.0,2016,2016-03-11,2016-03-11 00:00:00,2016-03-18,2016-03-18,3,11
9,9,10 Cloverfield Lane,17334158.0,-0.47,5058.0,50010797.0,2.0,2016,2016-03-18,2016-03-18 00:00:00,2016-03-25,2016-03-25,3,18
10,10,10 Cloverfield Lane,8802263.0,-0.49,3141.0,58813060.0,3.0,2016,2016-03-25,2016-03-25 00:00:00,2016-04-01,2016-04-01,3,25
11,11,10 Cloverfield Lane,6162480.0,-0.30,2454.0,64975540.0,4.0,2016,2016-04-01,2016-04-01 00:00:00,2016-04-08,2016-04-08,4,1
12,12,10 Cloverfield Lane,3759141.0,-0.39,1993.0,68734681.0,5.0,2016,2016-04-08,2016-04-08 00:00:00,2016-04-15,2016-04-15,4,8
13,13,10 Cloverfield Lane,1440070.0,-0.62,1327.0,70174751.0,6.0,2016,2016-04-15,2016-04-15 00:00:00,2016-04-22,2016-04-22,4,15
14,14,10 Cloverfield Lane,774997.0,-0.46,1303.0,70949748.0,7.0,2016,2016-04-22,2016-04-22 00:00:00,2016-04-29,2016-04-29,4,22
15,15,10 Cloverfield Lane,394644.0,-0.49,1294.0,71344392.0,8.0,2016,2016-04-29,2016-04-29 00:00:00,2016-05-06,2016-05-06,4,29
16,16,10 Cloverfield Lane,166414.0,-0.58,946.0,71510806.0,9.0,2016,2016-05-06,2016-05-06 00:00:00,2016-05-13,2016-05-13,5,6
17,17,10 Cloverfield Lane,274461.0,0.65,1056.0,71785267.0,10.0,2016,2016-05-13,2016-05-13 00:00:00,2016-05-20,2016-05-20,5,13
18,18,10 Cloverfield Lane,161535.0,-0.41,918.0,71946802.0,11.0,2016,2016-05-20,2016-05-20 00:00:00,2016-05-27,2016-05-27,5,20
19,19,10 Cloverfield Lane,136196.0,-0.16,1135.0,72082998.0,12.0,2016,2016-05-27,2016-05-27 00:00:00,2016-06-03,2016-06-03,5,27
20,20,12 Years a Slave,0.0,0.00,0.0,0.0,-7.0,2013,2013-08-23,2013-08-23 00:00:00,2013-08-30,2013-08-30,8,23
21,21,12 Years a Slave,0.0,0.00,0.0,0.0,-6.0,2013,2013-08-30,2013-08-30 00:00:00,2013-09-06,2013-09-06,8,30
22,22,12 Years a Slave,0.0,0.00,0.0,0.0,-5.0,2013,2013-09-06,2013-09-06 00:00:00,2013-09-13,2013-09-13,9,6
23,23,12 Years a Slave,0.0,0.00,0.0,0.0,-4.0,2013,2013-09-13,2013-09-13 00:00:00,2013-09-20,2013-09-20,9,13
24,24,12 Years a Slave,0.0,0.00,0.0,0.0,-3.0,2013,2013-09-20,2013-09-20 00:00:00,2013-09-27,2013-09-27,9,20
25,25,12 Years a Slave,0.0,0.00,0.0,0.0,-2.0,2013,2013-09-27,2013-09-27 00:00:00,2013-10-04,2013-10-04,9,27
26,26,12 Years a Slave,0.0,0.00,0.0,0.0,-1.0,2013,2013-10-04,2013-10-04 00:00:00,2013-10-11,2013-10-11,10,4
27,27,12 Years a Slave,0.0,0.00,0.0,0.0,0.0,2013,2013-10-11,2013-10-11 00:00:00,2013-10-18,2013-10-18,10,11
28,28,12 Years a Slave,1259943.0,0.00,66313.0,1259943.0,1.0,2013,2013-10-18,2013-10-18 00:00:00,2013-10-25,2013-10-25,10,18
29,29,12 Years a Slave,2900381.0,1.30,23580.0,4160324.0,2.0,2013,2013-10-25,2013-10-25 00:00:00,2013-11-01,2013-11-01,10,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19025,5171,Your Highness,0.0,0.00,0.0,0.0,-2.0,2011,2011-03-18,2011-03-18 00:00:00,2011-03-25,2011-03-25,3,18
19026,5172,Your Highness,0.0,0.00,0.0,0.0,-1.0,2011,2011-03-25,2011-03-25 00:00:00,2011-04-01,2011-04-01,3,25
19027,5173,Your Highness,0.0,0.00,0.0,0.0,0.0,2011,2011-04-01,2011-04-01 00:00:00,2011-04-08,2011-04-08,4,1
19028,5174,Your Highness,12057765.0,0.00,4355.0,12057765.0,1.0,2011,2011-04-08,2011-04-08 00:00:00,2011-04-15,2011-04-15,4,8
19029,5175,Your Highness,6000190.0,-0.50,2165.0,18057955.0,2.0,2011,2011-04-15,2011-04-15 00:00:00,2011-04-22,2011-04-22,4,15
19030,5176,Your Highness,2414990.0,-0.60,1500.0,20472945.0,3.0,2011,2011-04-22,2011-04-22 00:00:00,2011-04-29,2011-04-29,4,22
19031,5177,Your Highness,769825.0,-0.68,1915.0,21242770.0,4.0,2011,2011-04-29,2011-04-29 00:00:00,2011-05-06,2011-05-06,4,29
19032,5178,Your Highness,219010.0,-0.72,1335.0,21461780.0,5.0,2011,2011-05-06,2011-05-06 00:00:00,2011-05-13,2011-05-13,5,6
19033,5179,Your Highness,134665.0,-0.39,910.0,21596445.0,6.0,2011,2011-05-13,2011-05-13 00:00:00,2011-05-20,2011-05-20,5,13
19034,5180,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-7.0,2008,2008-09-05,2008-09-05 00:00:00,2008-09-12,2008-09-12,9,5
19035,5181,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-6.0,2008,2008-09-12,2008-09-12 00:00:00,2008-09-19,2008-09-19,9,12
19036,5182,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-5.0,2008,2008-09-19,2008-09-19 00:00:00,2008-09-26,2008-09-26,9,19
19037,5183,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-4.0,2008,2008-09-26,2008-09-26 00:00:00,2008-10-03,2008-10-03,9,26
19038,5184,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-3.0,2008,2008-10-03,2008-10-03 00:00:00,2008-10-10,2008-10-10,10,3
19039,5185,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-2.0,2008,2008-10-10,2008-10-10 00:00:00,2008-10-17,2008-10-17,10,10
19040,5186,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-1.0,2008,2008-10-17,2008-10-17 00:00:00,2008-10-24,2008-10-24,10,17
19041,5187,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,0.0,2008,2008-10-24,2008-10-24 00:00:00,2008-10-31,2008-10-31,10,24
19042,5188,Zack and Miri Make a Porno,14412377.0,0.00,5270.0,14412377.0,1.0,2008,2008-10-31,2008-10-31 00:00:00,2008-11-07,2008-11-07,10,31
19043,5189,Zack and Miri Make a Porno,8906793.0,-0.38,3257.0,23319170.0,2.0,2008,2008-11-07,2008-11-07 00:00:00,2008-11-14,2008-11-14,11,7
19044,5190,Zack and Miri Make a Porno,4331280.0,-0.51,1960.0,27650450.0,3.0,2008,2008-11-14,2008-11-14 00:00:00,2008-11-21,2008-11-21,11,14
19045,5191,Zack and Miri Make a Porno,2264931.0,-0.48,5183.0,29915381.0,4.0,2008,2008-11-21,2008-11-21 00:00:00,2008-11-28,2008-11-28,11,21
19046,5192,Zack and Miri Make a Porno,697798.0,-0.69,1597.0,30613179.0,5.0,2008,2008-11-28,2008-11-28 00:00:00,2008-12-05,2008-12-05,11,28
19047,5193,Zack and Miri Make a Porno,333961.0,-0.52,1214.0,30947140.0,6.0,2008,2008-12-05,2008-12-05 00:00:00,2008-12-12,2008-12-12,12,5
19048,5194,Zack and Miri Make a Porno,169560.0,-0.49,1040.0,31116700.0,7.0,2008,2008-12-12,2008-12-12 00:00:00,2008-12-19,2008-12-19,12,12
19049,5195,Zack and Miri Make a Porno,60638.0,-0.64,1318.0,31177338.0,8.0,2008,2008-12-19,2008-12-19 00:00:00,2008-12-26,2008-12-26,12,19
19050,5196,Zack and Miri Make a Porno,55955.0,-0.08,1216.0,31233293.0,9.0,2008,2008-12-26,2008-12-26 00:00:00,2009-01-02,2009-01-02,12,26
19051,5197,Zack and Miri Make a Porno,101453.0,0.81,995.0,31334746.0,10.0,2009,2009-01-02,2009-01-02 00:00:00,2009-01-09,2009-01-09,1,2
19052,5198,Zack and Miri Make a Porno,76370.0,-0.25,741.0,31411116.0,11.0,2009,2009-01-09,2009-01-09 00:00:00,2009-01-16,2009-01-16,1,9
19053,5199,Zack and Miri Make a Porno,31187.0,-0.59,624.0,31442303.0,12.0,2009,2009-01-16,2009-01-16 00:00:00,2009-01-23,2009-01-23,1,16
19054,5200,Zack and Miri Make a Porno,15643.0,-0.50,579.0,31457946.0,13.0,2009,2009-01-23,2009-01-23 00:00:00,2009-01-30,2009-01-30,1,23

In [724]:
#data.to_csv("MovieRevenue_All.csv",index=False)

In [725]:
data['Genre']=''
data['Director']=''
data['Actors']=''
data['Rating']=0
data['Revenue']=0.0
data['Runtime']=''
data['Voting']=''
data['Metascore']=0

In [826]:
data

,index,Movie_Name,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str,since_date,...,Month,Day,Genre,Director,Actors,Rating,Revenue,Runtime,Voting,Metascore
0,0,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-7.0,2016,2016-01-15,2016-01-15 00:00:00,...,1,15,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
1,1,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-6.0,2016,2016-01-22,2016-01-22 00:00:00,...,1,22,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
2,2,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-5.0,2016,2016-01-29,2016-01-29 00:00:00,...,1,29,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
3,3,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-4.0,2016,2016-02-05,2016-02-05 00:00:00,...,2,5,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
4,4,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-3.0,2016,2016-02-12,2016-02-12 00:00:00,...,2,12,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
5,5,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-2.0,2016,2016-02-19,2016-02-19 00:00:00,...,2,19,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
6,6,10 Cloverfield Lane,0.0,0.00,0.0,0.0,-1.0,2016,2016-02-26,2016-02-26 00:00:00,...,2,26,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
7,7,10 Cloverfield Lane,0.0,0.00,0.0,0.0,0.0,2016,2016-03-04,2016-03-04 00:00:00,...,3,4,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
8,8,10 Cloverfield Lane,32676639.0,0.00,9636.0,32676639.0,1.0,2016,2016-03-11,2016-03-11 00:00:00,...,3,11,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
9,9,10 Cloverfield Lane,17334158.0,-0.47,5058.0,50010797.0,2.0,2016,2016-03-18,2016-03-18 00:00:00,...,3,18,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
10,10,10 Cloverfield Lane,8802263.0,-0.49,3141.0,58813060.0,3.0,2016,2016-03-25,2016-03-25 00:00:00,...,3,25,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
11,11,10 Cloverfield Lane,6162480.0,-0.30,2454.0,64975540.0,4.0,2016,2016-04-01,2016-04-01 00:00:00,...,4,1,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
12,12,10 Cloverfield Lane,3759141.0,-0.39,1993.0,68734681.0,5.0,2016,2016-04-08,2016-04-08 00:00:00,...,4,8,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
13,13,10 Cloverfield Lane,1440070.0,-0.62,1327.0,70174751.0,6.0,2016,2016-04-15,2016-04-15 00:00:00,...,4,15,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
14,14,10 Cloverfield Lane,774997.0,-0.46,1303.0,70949748.0,7.0,2016,2016-04-22,2016-04-22 00:00:00,...,4,22,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
15,15,10 Cloverfield Lane,394644.0,-0.49,1294.0,71344392.0,8.0,2016,2016-04-29,2016-04-29 00:00:00,...,4,29,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
16,16,10 Cloverfield Lane,166414.0,-0.58,946.0,71510806.0,9.0,2016,2016-05-06,2016-05-06 00:00:00,...,5,6,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
17,17,10 Cloverfield Lane,274461.0,0.65,1056.0,71785267.0,10.0,2016,2016-05-13,2016-05-13 00:00:00,...,5,13,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
18,18,10 Cloverfield Lane,161535.0,-0.41,918.0,71946802.0,11.0,2016,2016-05-20,2016-05-20 00:00:00,...,5,20,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
19,19,10 Cloverfield Lane,136196.0,-0.16,1135.0,72082998.0,12.0,2016,2016-05-27,2016-05-27 00:00:00,...,5,27,"Drama,Horror,Mystery",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...",7.2,71.9,104,192968,76.0
20,20,12 Years a Slave,0.0,0.00,0.0,0.0,-7.0,2013,2013-08-23,2013-08-23 00:00:00,...,8,23,"Biography,Drama,History",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",8.1,56.67,134,486338,96.0
21,21,12 Years a Slave,0.0,0.00,0.0,0.0,-6.0,2013,2013-08-30,2013-08-30 00:00:00,...,8,30,"Biography,Drama,History",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",8.1,56.67,134,486338,96.0
22,22,12 Years a Slave,0.0,0.00,0.0,0.0,-5.0,2013,2013-09-06,2013-09-06 00:00:00,...,9,6,"Biography,Drama,History",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",8.1,56.67,134,486338,96.0
23,23,12 Years a Slave,0.0,0.00,0.0,0.0,-4.0,2013,2013-09-13,2013-09-13 00:00:00,...,9,13,"Biography,Drama,History",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",8.1,56.67,134,486338,96.0
24,24,12 Years a Slave,0.0,0.00,0.0,0.0,-3.0,2013,2013-09-20,2013-09-20 00:00:00,...,9,20,"Biography,Drama,History",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",8.1,56.67,134,486338,96.0
25,25,12 Years a Slave,0.0,0.00,0.0,0.0,-2.0,2013,2013-09-27,2013-09-27 00:00:00,...,9,27,"Biography,Drama,History",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",8.1,56.67,134,486338,96.0
26,26,12 Years a Slave,0.0,0.00,0.0,0.0,-1.0,2013,2013-10-04,2013-10-04 00:00:00,...,10,4,"Biography,Drama,History",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",8.1,56.67,134,486338,96.0
27,27,12 Years a Slave,0.0,0.00,0.0,0.0,0.0,2013,2013-10-11,2013-10-11 00:00:00,...,10,11,"Biography,Drama,History",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",8.1,56.67,134,486338,96.0
28,28,12 Years a Slave,1259943.0,0.00,66313.0,1259943.0,1.0,2013,2013-10-18,2013-10-18 00:00:00,...,10,18,"Biography,Drama,History",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",8.1,56.67,134,486338,96.0
29,29,12 Years a Slave,2900381.0,1.30,23580.0,4160324.0,2.0,2013,2013-10-25,2013-10-25 00:00:00,...,10,25,"Biography,Drama,History",Steve McQueen,"Chiwetel Ejiofor, Michael Kenneth Williams, Mi...",8.1,56.67,134,486338,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19025,5171,Your Highness,0.0,0.00,0.0,0.0,-2.0,2011,2011-03-18,2011-03-18 00:00:00,...,3,18,"Adventure,Comedy,Fantasy",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",5.6,21.56,102,87904,31.0
19026,5172,Your Highness,0.0,0.00,0.0,0.0,-1.0,2011,2011-03-25,2011-03-25 00:00:00,...,3,25,"Adventure,Comedy,Fantasy",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",5.6,21.56,102,87904,31.0
19027,5173,Your Highness,0.0,0.00,0.0,0.0,0.0,2011,2011-04-01,2011-04-01 00:00:00,...,4,1,"Adventure,Comedy,Fantasy",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",5.6,21.56,102,87904,31.0
19028,5174,Your Highness,12057765.0,0.00,4355.0,12057765.0,1.0,2011,2011-04-08,2011-04-08 00:00:00,...,4,8,"Adventure,Comedy,Fantasy",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",5.6,21.56,102,87904,31.0
19029,5175,Your Highness,6000190.0,-0.50,2165.0,18057955.0,2.0,2011,2011-04-15,2011-04-15 00:00:00,...,4,15,"Adventure,Comedy,Fantasy",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",5.6,21.56,102,87904,31.0
19030,5176,Your Highness,2414990.0,-0.60,1500.0,20472945.0,3.0,2011,2011-04-22,2011-04-22 00:00:00,...,4,22,"Adventure,Comedy,Fantasy",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",5.6,21.56,102,87904,31.0
19031,5177,Your Highness,769825.0,-0.68,1915.0,21242770.0,4.0,2011,2011-04-29,2011-04-29 00:00:00,...,4,29,"Adventure,Comedy,Fantasy",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",5.6,21.56,102,87904,31.0
19032,5178,Your Highness,219010.0,-0.72,1335.0,21461780.0,5.0,2011,2011-05-06,2011-05-06 00:00:00,...,5,6,"Adventure,Comedy,Fantasy",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",5.6,21.56,102,87904,31.0
19033,5179,Your Highness,134665.0,-0.39,910.0,21596445.0,6.0,2011,2011-05-13,2011-05-13 00:00:00,...,5,13,"Adventure,Comedy,Fantasy",David Gordon Green,"Danny McBride, Natalie Portman, James Franco, ...",5.6,21.56,102,87904,31.0
19034,5180,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-7.0,2008,2008-09-05,2008-09-05 00:00:00,...,9,5,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19035,5181,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-6.0,2008,2008-09-12,2008-09-12 00:00:00,...,9,12,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19036,5182,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-5.0,2008,2008-09-19,2008-09-19 00:00:00,...,9,19,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19037,5183,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-4.0,2008,2008-09-26,2008-09-26 00:00:00,...,9,26,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19038,5184,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-3.0,2008,2008-10-03,2008-10-03 00:00:00,...,10,3,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19039,5185,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-2.0,2008,2008-10-10,2008-10-10 00:00:00,...,10,10,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19040,5186,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,-1.0,2008,2008-10-17,2008-10-17 00:00:00,...,10,17,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19041,5187,Zack and Miri Make a Porno,0.0,0.00,0.0,0.0,0.0,2008,2008-10-24,2008-10-24 00:00:00,...,10,24,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19042,5188,Zack and Miri Make a Porno,14412377.0,0.00,5270.0,14412377.0,1.0,2008,2008-10-31,2008-10-31 00:00:00,...,10,31,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19043,5189,Zack and Miri Make a Porno,8906793.0,-0.38,3257.0,23319170.0,2.0,2008,2008-11-07,2008-11-07 00:00:00,...,11,7,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19044,5190,Zack and Miri Make a Porno,4331280.0,-0.51,1960.0,27650450.0,3.0,2008,2008-11-14,2008-11-14 00:00:00,...,11,14,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19045,5191,Zack and Miri Make a Porno,2264931.0,-0.48,5183.0,29915381.0,4.0,2008,2008-11-21,2008-11-21 00:00:00,...,11,21,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19046,5192,Zack and Miri Make a Porno,697798.0,-0.69,1597.0,30613179.0,5.0,2008,2008-11-28,2008-11-28 00:00:00,...,11,28,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19047,5193,Zack and Miri Make a Porno,333961.0,-0.52,1214.0,30947140.0,6.0,2008,2008-12-05,2008-12-05 00:00:00,...,12,5,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19048,5194,Zack and Miri Make a Porno,169560.0,-0.49,1040.0,31116700.0,7.0,2008,2008-12-12,2008-12-12 00:00:00,...,12,12,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19049,5195,Zack and Miri Make a Porno,60638.0,-0.64,1318.0,31177338.0,8.0,2008,2008-12-19,2008-12-19 00:00:00,...,12,19,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19050,5196,Zack and Miri Make a Porno,55955.0,-0.08,1216.0,31233293.0,9.0,2008,2008-12-26,2008-12-26 00:00:00,...,12,26,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19051,5197,Zack and Miri Make a Porno,101453.0,0.81,995.0,31334746.0,10.0,2009,2009-01-02,2009-01-02 00:00:00,...,1,2,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19052,5198,Zack and Miri Make a Porno,76370.0,-0.25,741.0,31411116.0,11.0,2009,2009-01-09,2009-01-09 00:00:00,...,1,9,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19053,5199,Zack and Miri Make a Porno,31187.0,-0.59,624.0,31442303.0,12.0,2009,2009-01-16,2009-01-16 00:00:00,...,1,16,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0
19054,5200,Zack and Miri Make a Porno,15643.0,-0.50,579.0,31457946.0,13.0,2009,2009-01-23,2009-01-23 00:00:00,...,1,23,"Comedy,Romance",Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, G...",6.6,31.45,101,154936,56.0

In [728]:
data2=data
revenue5_final_5=data

for i in range(0,len(movie)):
    topic=movie['Title'][i]
    #revenue5_final_5[revenue5_final_5['Movie_Name']==topic]
    revenue5_final_5['Genre'][revenue5_final_5['Movie_Name']==topic]=movie['Genre'][movie['Title']==topic].iloc[0]
    revenue5_final_5['Director'][revenue5_final_5['Movie_Name']==topic]=movie['Director'][movie['Title']==topic].iloc[0]
    revenue5_final_5['Actors'][revenue5_final_5['Movie_Name']==topic]=movie['Actors'][movie['Title']==topic].iloc[0]
    revenue5_final_5['Rating'][revenue5_final_5['Movie_Name']==topic]=movie['Rating'][movie['Title']==topic].iloc[0]
    revenue5_final_5['Revenue'][revenue5_final_5['Movie_Name']==topic]=movie['Revenue (Millions)'][movie['Title']==topic].iloc[0]
    revenue5_final_5['Runtime'][revenue5_final_5['Movie_Name']==topic]=movie['Runtime (Minutes)'][movie['Title']==topic].iloc[0]
    revenue5_final_5['Voting'][revenue5_final_5['Movie_Name']==topic]=movie['Votes'][movie['Title']==topic].iloc[0]
    revenue5_final_5['Metascore'][revenue5_final_5['Movie_Name']==topic]=movie['Metascore'][movie['Title']==topic].iloc[0]
        
        
data=revenue5_final_5

C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\Users\Chih-Hsiang\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [730]:
dataN=data

In [750]:
dataN['Movie_Name'][data['Genre']==''].unique()

array(['Detour'], dtype=object)

In [752]:
dataFinal['Movie_Name'][dataFinal['Director']==''].unique()

array([], dtype=object)

In [751]:
dataFinal=dataN[dataN['Movie_Name']!='Detour']
dataFinal=dataFinal.reset_index(drop=True)

In [786]:
dataFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19046 entries, 0 to 19045
Data columns (total 22 columns):
index                19046 non-null int64
Movie_Name           19046 non-null object
Weekly_Gross         19046 non-null float64
Percentage_Change    19046 non-null float64
Avg                  19046 non-null float64
Gross_to_Date        19046 non-null float64
Week_Number          19046 non-null float64
Year                 19046 non-null int64
since_str            19046 non-null object
since_date           19046 non-null object
until_date           19046 non-null object
until_str            19046 non-null object
Month                19046 non-null int64
Day                  19046 non-null int64
Genre                19046 non-null object
Director             19046 non-null object
Actors               19046 non-null object
Rating               19030 non-null float64
Revenue              19046 non-null float64
Runtime              19030 non-null float64
Voting               19030 non-null float64
Metascore            19046 non-null float64
dtypes: float64(10), int64(4), object(8)
memory usage: 3.2+ MB

In [783]:
np.median(dataFinalFinal['Revenue'][dataFinalFinal['Revenue'].notnull()])

59.890000000000001

In [784]:
dataFinalFinal['Revenue']=dataFinalFinal['Revenue'].fillna(np.median(dataFinalFinal['Revenue'][dataFinalFinal['Revenue'].notnull()]))

In [785]:
dataFinalFinal['Metascore']=dataFinalFinal['Metascore'].fillna(np.median(dataFinalFinal['Metascore'][dataFinalFinal['Metascore'].notnull()]))

In [797]:
dataFinalFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19046 entries, 0 to 19045
Data columns (total 22 columns):
index                19046 non-null int64
Movie_Name           19046 non-null object
Weekly_Gross         19046 non-null float64
Percentage_Change    19046 non-null float64
Avg                  19046 non-null float64
Gross_to_Date        19046 non-null float64
Week_Number          19046 non-null float64
Year                 19046 non-null int64
since_str            19046 non-null object
since_date           19046 non-null object
until_date           19046 non-null object
until_str            19046 non-null object
Month                19046 non-null int64
Day                  19046 non-null int64
Genre                19046 non-null object
Director             19046 non-null object
Actors               19046 non-null object
Rating               19046 non-null float64
Revenue              19046 non-null float64
Runtime              19046 non-null object
Voting               19046 non-null object
Metascore            19046 non-null float64
dtypes: float64(8), int64(4), object(10)
memory usage: 3.2+ MB

In [795]:
dataFinalFinal[dataFinalFinal['Rating'].isnull()]

,index,Movie_Name,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str,since_date,...,Month,Day,Genre,Director,Actors,Rating,Revenue,Runtime,Voting,Metascore
16906,3061,Riddick,0.0,0.00,0.0,0.0,-7.0,2013,2013-07-12,2013-07-12 00:00:00,...,7,12,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16907,3062,Riddick,0.0,0.00,0.0,0.0,-6.0,2013,2013-07-19,2013-07-19 00:00:00,...,7,19,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16908,3063,Riddick,0.0,0.00,0.0,0.0,-5.0,2013,2013-07-26,2013-07-26 00:00:00,...,7,26,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16909,3064,Riddick,0.0,0.00,0.0,0.0,-4.0,2013,2013-08-02,2013-08-02 00:00:00,...,8,2,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16910,3065,Riddick,0.0,0.00,0.0,0.0,-3.0,2013,2013-08-09,2013-08-09 00:00:00,...,8,9,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16911,3066,Riddick,0.0,0.00,0.0,0.0,-2.0,2013,2013-08-16,2013-08-16 00:00:00,...,8,16,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16912,3067,Riddick,0.0,0.00,0.0,0.0,-1.0,2013,2013-08-23,2013-08-23 00:00:00,...,8,23,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16913,3068,Riddick,0.0,0.00,0.0,0.0,0.0,2013,2013-08-30,2013-08-30 00:00:00,...,8,30,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16914,3069,Riddick,24266375.0,0.00,7810.0,24266375.0,1.0,2013,2013-09-06,2013-09-06 00:00:00,...,9,6,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16915,3070,Riddick,9241915.0,-0.62,2965.0,33508290.0,2.0,2013,2013-09-13,2013-09-13 00:00:00,...,9,13,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16916,3071,Riddick,4941275.0,-0.47,1635.0,38449565.0,3.0,2013,2013-09-20,2013-09-20 00:00:00,...,9,20,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16917,3072,Riddick,2209355.0,-0.55,1210.0,40658920.0,4.0,2013,2013-09-27,2013-09-27 00:00:00,...,9,27,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16918,3073,Riddick,743635.0,-0.66,935.0,41402555.0,5.0,2013,2013-10-04,2013-10-04 00:00:00,...,10,4,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16919,3074,Riddick,365590.0,-0.51,850.0,41768145.0,6.0,2013,2013-10-11,2013-10-11 00:00:00,...,10,11,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16920,3075,Riddick,169585.0,-0.54,670.0,41937730.0,7.0,2013,2013-10-18,2013-10-18 00:00:00,...,10,18,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0
16921,3076,Riddick,87405.0,-0.49,560.0,42025135.0,8.0,2013,2013-10-25,2013-10-25 00:00:00,...,10,25,"Action,Sci-Fi,Thriller",David Twohy,"Vin Diesel, Karl Urban, Katee Sackhoff, Jordi ...",NaN,59.89,119,132098,2009.0

In [779]:
dataFinalFinal['Voting']=pd.to_numeric(dataFinalFinal['Voting'], errors='coerce')

In [768]:
dataFinal.to_csv("MovieRevenue_All_v2.csv",index=False)

In [798]:
dataFinalFinal.to_csv("MovieRevenue_All_v3.csv",index=False)

In [825]:
dataFinalFinal1=dataFinalFinal[dataFinalFinal['Year']>=2016]
dataFinalFinal1=dataFinalFinal1.reset_index(drop=True)
dataFinalFinal1.to_csv("MovieRevenue_All_slice0.csv",index=False)

In [812]:
dataFinalFinal1

,index,Movie_Name,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str,since_date,...,Month,Day,Genre,Director,Actors,Rating,Revenue,Runtime,Voting,Metascore
0,75,300,0.0,0.00,0.0,0.0,-7.0,2006,2006-01-12,2006-01-12 00:00:00,...,1,12,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
1,76,300,0.0,0.00,0.0,0.0,-6.0,2006,2006-01-19,2006-01-19 00:00:00,...,1,19,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
2,77,300,0.0,0.00,0.0,0.0,-5.0,2006,2006-01-26,2006-01-26 00:00:00,...,1,26,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
3,78,300,0.0,0.00,0.0,0.0,-4.0,2006,2006-02-02,2006-02-02 00:00:00,...,2,2,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
4,79,300,0.0,0.00,0.0,0.0,-3.0,2006,2006-02-09,2006-02-09 00:00:00,...,2,9,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
5,80,300,0.0,0.00,0.0,0.0,-2.0,2006,2006-02-16,2006-02-16 00:00:00,...,2,16,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
6,81,300,0.0,0.00,0.0,0.0,-1.0,2006,2006-02-23,2006-02-23 00:00:00,...,2,23,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
7,82,300,0.0,0.00,0.0,0.0,0.0,2006,2006-03-02,2006-03-02 00:00:00,...,3,2,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
8,83,300,96288328.0,0.00,31031.0,96288328.0,1.0,2006,2006-03-09,2006-03-09 00:00:00,...,3,9,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
9,84,300,45555327.0,-0.53,13931.0,141843655.0,2.0,2006,2006-03-16,2006-03-16 00:00:00,...,3,16,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
10,85,300,26663827.0,-0.42,8129.0,168507482.0,3.0,2006,2006-03-23,2006-03-23 00:00:00,...,3,23,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
11,86,300,16526595.0,-0.38,5502.0,185034077.0,4.0,2006,2006-03-30,2006-03-30 00:00:00,...,3,30,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
12,87,300,11476703.0,-0.31,4292.0,196510780.0,5.0,2006,2006-04-06,2006-04-06 00:00:00,...,4,6,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
13,88,300,5881245.0,-0.49,2748.0,202392025.0,6.0,2006,2006-04-13,2006-04-13 00:00:00,...,4,13,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
14,89,300,3118394.0,-0.47,2068.0,205510419.0,7.0,2006,2006-04-20,2006-04-20 00:00:00,...,4,20,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
15,90,300,1941310.0,-0.38,1932.0,207451729.0,8.0,2006,2006-04-27,2006-04-27 00:00:00,...,4,27,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
16,91,300,612236.0,-0.69,1414.0,208063965.0,9.0,2006,2006-05-04,2006-05-04 00:00:00,...,5,4,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
17,92,300,384867.0,-0.37,1673.0,208448832.0,10.0,2006,2006-05-11,2006-05-11 00:00:00,...,5,11,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
18,93,300,300023.0,-0.22,1936.0,208748855.0,11.0,2006,2006-05-18,2006-05-18 00:00:00,...,5,18,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
19,94,300,565117.0,0.88,1402.0,209313972.0,12.0,2006,2006-05-25,2006-05-25 00:00:00,...,5,25,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
20,95,300,402335.0,-0.29,1124.0,209716307.0,13.0,2006,2006-06-01,2006-06-01 00:00:00,...,6,1,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
21,96,300,370660.0,-0.08,1223.0,210086967.0,14.0,2006,2006-06-08,2006-06-08 00:00:00,...,6,8,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
22,97,300,213068.0,-0.43,1034.0,210300035.0,15.0,2006,2006-06-15,2006-06-15 00:00:00,...,6,15,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
23,98,300,147176.0,-0.31,1051.0,210447211.0,16.0,2006,2006-06-22,2006-06-22 00:00:00,...,6,22,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
24,99,300,109042.0,-0.26,1148.0,210556253.0,17.0,2006,2006-06-29,2006-06-29 00:00:00,...,6,29,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
25,100,300,58686.0,-0.46,838.0,210614939.0,18.0,2006,2006-07-06,2006-07-06 00:00:00,...,7,6,"Action,Fantasy,War",Zack Snyder,"Gerard Butler, Lena Headey, David Wenham, Domi...",7.7,210.59,117,637104,52.0
26,343,Casino Royale,0.0,0.00,0.0,0.0,-7.0,2006,2006-09-22,2006-09-22 00:00:00,...,9,22,"Action,Adventure,Thriller",Martin Campbell,"Daniel Craig, Eva Green, Judi Dench, Jeffrey W...",8.0,167.01,144,495106,80.0
27,344,Casino Royale,0.0,0.00,0.0,0.0,-6.0,2006,2006-09-29,2006-09-29 00:00:00,...,9,29,"Action,Adventure,Thriller",Martin Campbell,"Daniel Craig, Eva Green, Judi Dench, Jeffrey W...",8.0,167.01,144,495106,80.0
28,345,Casino Royale,0.0,0.00,0.0,0.0,-5.0,2006,2006-10-06,2006-10-06 00:00:00,...,10,6,"Action,Adventure,Thriller",Martin Campbell,"Daniel Craig, Eva Green, Judi Dench, Jeffrey W...",8.0,167.01,144,495106,80.0
29,346,Casino Royale,0.0,0.00,0.0,0.0,-4.0,2006,2006-10-13,2006-10-13 00:00:00,...,10,13,"Action,Adventure,Thriller",Martin Campbell,"Daniel Craig, Eva Green, Judi Dench, Jeffrey W...",8.0,167.01,144,495106,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797,4071,The Hills Have Eyes,7841.0,-0.62,603.0,41773472.0,14.0,2006,2006-06-09,2006-06-09 00:00:00,...,6,9,Horror,Alexandre Aja,"Ted Levine, Kathleen Quinlan, Dan Byrd, Emilie...",6.4,41.78,107,136642,52.0
798,4072,The Hills Have Eyes,5391.0,-0.31,490.0,41778863.0,15.0,2006,2006-06-16,2006-06-16 00:00:00,...,6,16,Horror,Alexandre Aja,"Ted Levine, Kathleen Quinlan, Dan Byrd, Emilie...",6.4,41.78,107,136642,52.0
799,4114,The Illusionist,0.0,0.00,0.0,0.0,-7.0,2006,2006-06-23,2006-06-23 00:00:00,...,6,23,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
800,4115,The Illusionist,0.0,0.00,0.0,0.0,-6.0,2006,2006-06-30,2006-06-30 00:00:00,...,6,30,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
801,4116,The Illusionist,0.0,0.00,0.0,0.0,-5.0,2006,2006-07-07,2006-07-07 00:00:00,...,7,7,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
802,4117,The Illusionist,0.0,0.00,0.0,0.0,-4.0,2006,2006-07-14,2006-07-14 00:00:00,...,7,14,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
803,4118,The Illusionist,0.0,0.00,0.0,0.0,-3.0,2006,2006-07-21,2006-07-21 00:00:00,...,7,21,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
804,4119,The Illusionist,0.0,0.00,0.0,0.0,-2.0,2006,2006-07-28,2006-07-28 00:00:00,...,7,28,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
805,4120,The Illusionist,0.0,0.00,0.0,0.0,-1.0,2006,2006-08-04,2006-08-04 00:00:00,...,8,4,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
806,4121,The Illusionist,0.0,0.00,0.0,0.0,0.0,2006,2006-08-11,2006-08-11 00:00:00,...,8,11,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
807,4122,The Illusionist,1363079.0,0.00,26727.0,1363079.0,1.0,2006,2006-08-18,2006-08-18 00:00:00,...,8,18,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
808,4123,The Illusionist,2696603.0,0.98,18726.0,4059682.0,2.0,2006,2006-08-25,2006-08-25 00:00:00,...,8,25,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
809,4124,The Illusionist,9389857.0,2.48,9670.0,13449539.0,3.0,2006,2006-09-01,2006-09-01 00:00:00,...,9,1,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
810,4125,The Illusionist,6054262.0,-0.36,4445.0,19503801.0,4.0,2006,2006-09-08,2006-09-08 00:00:00,...,9,8,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
811,4126,The Illusionist,4755013.0,-0.22,3307.0,24258814.0,5.0,2006,2006-09-15,2006-09-15 00:00:00,...,9,15,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
812,4127,The Illusionist,4384084.0,-0.08,3062.0,28642898.0,6.0,2006,2006-09-22,2006-09-22 00:00:00,...,9,22,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
813,4128,The Illusionist,3599114.0,-0.18,2729.0,32242012.0,7.0,2006,2006-09-29,2006-09-29 00:00:00,...,9,29,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
814,4129,The Illusionist,2626003.0,-0.27,2285.0,34868015.0,8.0,2006,2006-10-06,2006-10-06 00:00:00,...,10,6,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
815,4130,The Illusionist,1844169.0,-0.30,2235.0,36712184.0,9.0,2006,2006-10-13,2006-10-13 00:00:00,...,10,13,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
816,4131,The Illusionist,1000355.0,-0.46,1690.0,37712539.0,10.0,2006,2006-10-20,2006-10-20 00:00:00,...,10,20,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
817,4132,The Illusionist,700462.0,-0.30,1708.0,38413001.0,11.0,2006,2006-10-27,2006-10-27 00:00:00,...,10,27,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
818,4133,The Illusionist,489295.0,-0.30,1717.0,38902296.0,12.0,2006,2006-11-03,2006-11-03 00:00:00,...,11,3,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
819,4134,The Illusionist,229854.0,-0.53,1306.0,39132150.0,13.0,2006,2006-11-10,2006-11-10 00:00:00,...,11,10,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
820,4135,The Illusionist,125750.0,-0.45,719.0,39257900.0,14.0,2006,2006-11-17,2006-11-17 00:00:00,...,11,17,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
821,4136,The Illusionist,184934.0,0.47,1057.0,39442834.0,15.0,2006,2006-11-24,2006-11-24 00:00:00,...,11,24,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
822,4137,The Illusionist,122046.0,-0.34,705.0,39564880.0,16.0,2006,2006-12-01,2006-12-01 00:00:00,...,12,1,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
823,4138,The Illusionist,82419.0,-0.33,681.0,39647299.0,17.0,2006,2006-12-08,2006-12-08 00:00:00,...,12,8,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
824,4139,The Illusionist,55771.0,-0.32,680.0,39703070.0,18.0,2006,2006-12-15,2006-12-15 00:00:00,...,12,15,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
825,4140,The Illusionist,42304.0,-0.24,682.0,39745374.0,19.0,2006,2006-12-22,2006-12-22 00:00:00,...,12,22,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0
826,4141,The Illusionist,49368.0,0.17,931.0,39794742.0,20.0,2006,2006-12-29,2006-12-29 00:00:00,...,12,29,"Drama,Mystery,Romance",Neil Burger,"Edward Norton, Jessica Biel, Paul Giamatti, Ru...",7.6,39.83,110,309934,68.0

In [803]:
dataFinalFinal1.to_csv("MovieRevenue_All_slice1.csv",index=False)

,index,Movie_Name,Weekly_Gross,Percentage_Change,Avg,Gross_to_Date,Week_Number,Year,since_str,since_date,...,Month,Day,Genre,Director,Actors,Rating,Revenue,Runtime,Voting,Metascore
111,111,A Monster Calls,2732136.0,67.40,1794.0,2823628.0,3.0,2017,2017-01-06,2017-01-06 00:00:00,...,1,6,"Drama,Fantasy",J.A. Bayona,"Lewis MacDougall, Sigourney Weaver, Felicity J...",7.5,3.73,108,39134,76.0
112,112,A Monster Calls,887171.0,-0.68,586.0,3710799.0,4.0,2017,2017-01-13,2017-01-13 00:00:00,...,1,13,"Drama,Fantasy",J.A. Bayona,"Lewis MacDougall, Sigourney Weaver, Felicity J...",7.5,3.73,108,39134,76.0
113,113,A Monster Calls,30024.0,-0.97,715.0,3740823.0,5.0,2017,2017-01-20,2017-01-20 00:00:00,...,1,20,"Drama,Fantasy",J.A. Bayona,"Lewis MacDougall, Sigourney Weaver, Felicity J...",7.5,3.73,108,39134,76.0
129,129,Allied,134059.0,-0.52,1108.0,39854249.0,8.0,2017,2017-01-06,2017-01-06 00:00:00,...,1,6,"Action,Drama,Romance",Robert Zemeckis,"Brad Pitt, Marion Cotillard, Jared Harris, Vin...",7.1,40.07,124,78079,60.0
130,130,Allied,161201.0,0.20,926.0,40015450.0,9.0,2017,2017-01-13,2017-01-13 00:00:00,...,1,13,"Action,Drama,Romance",Robert Zemeckis,"Brad Pitt, Marion Cotillard, Jared Harris, Vin...",7.1,40.07,124,78079,60.0
131,131,Allied,82614.0,-0.49,688.0,40098064.0,10.0,2017,2017-01-20,2017-01-20 00:00:00,...,1,20,"Action,Drama,Romance",Robert Zemeckis,"Brad Pitt, Marion Cotillard, Jared Harris, Vin...",7.1,40.07,124,78079,60.0
148,148,Arrival,1258058.0,-0.48,3302.0,94520580.0,9.0,2017,2017-01-06,2017-01-06 00:00:00,...,1,6,"Drama,Mystery,Sci-Fi",Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",8.0,100.50,116,340798,81.0
149,149,Arrival,829052.0,-0.34,3356.0,95349632.0,10.0,2017,2017-01-13,2017-01-13 00:00:00,...,1,13,"Drama,Mystery,Sci-Fi",Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",8.0,100.50,116,340798,81.0
150,150,Arrival,505567.0,-0.39,2809.0,95855199.0,11.0,2017,2017-01-20,2017-01-20 00:00:00,...,1,20,"Drama,Mystery,Sci-Fi",Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",8.0,100.50,116,340798,81.0
151,151,Arrival,1986436.0,2.93,1627.0,97841635.0,12.0,2017,2017-01-27,2017-01-27 00:00:00,...,1,27,"Drama,Mystery,Sci-Fi",Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",8.0,100.50,116,340798,81.0
152,152,Arrival,1116100.0,-0.44,1629.0,98957735.0,13.0,2017,2017-02-03,2017-02-03 00:00:00,...,2,3,"Drama,Mystery,Sci-Fi",Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",8.0,100.50,116,340798,81.0
153,153,Arrival,644535.0,-0.42,2378.0,99602270.0,14.0,2017,2017-02-10,2017-02-10 00:00:00,...,2,10,"Drama,Mystery,Sci-Fi",Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",8.0,100.50,116,340798,81.0
154,154,Arrival,488193.0,-0.24,1102.0,100090463.0,15.0,2017,2017-02-17,2017-02-17 00:00:00,...,2,17,"Drama,Mystery,Sci-Fi",Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",8.0,100.50,116,340798,81.0
155,155,Arrival,322315.0,-0.34,728.0,100412778.0,16.0,2017,2017-02-24,2017-02-24 00:00:00,...,2,24,"Drama,Mystery,Sci-Fi",Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",8.0,100.50,116,340798,81.0
156,156,Arrival,133361.0,-0.59,1688.0,100546139.0,17.0,2017,2017-03-03,2017-03-03 00:00:00,...,3,3,"Drama,Mystery,Sci-Fi",Denis Villeneuve,"Amy Adams, Jeremy Renner, Forest Whitaker,Mich...",8.0,100.50,116,340798,81.0
168,168,Assassin's Creed,5797858.0,-0.61,2194.0,51503641.0,4.0,2017,2017-01-06,2017-01-06 00:00:00,...,1,6,"Action,Adventure,Drama",Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",5.9,54.65,115,112813,36.0
169,169,Assassin's Creed,1979315.0,-0.66,2045.0,53482956.0,5.0,2017,2017-01-13,2017-01-13 00:00:00,...,1,13,"Action,Adventure,Drama",Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",5.9,54.65,115,112813,36.0
170,170,Assassin's Creed,451807.0,-0.77,1399.0,53934763.0,6.0,2017,2017-01-20,2017-01-20 00:00:00,...,1,20,"Action,Adventure,Drama",Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",5.9,54.65,115,112813,36.0
171,171,Assassin's Creed,269501.0,-0.40,1283.0,54204264.0,7.0,2017,2017-01-27,2017-01-27 00:00:00,...,1,27,"Action,Adventure,Drama",Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",5.9,54.65,115,112813,36.0
172,172,Assassin's Creed,191468.0,-0.29,1024.0,54395732.0,8.0,2017,2017-02-03,2017-02-03 00:00:00,...,2,3,"Action,Adventure,Drama",Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",5.9,54.65,115,112813,36.0
173,173,Assassin's Creed,133680.0,-0.30,922.0,54529412.0,9.0,2017,2017-02-10,2017-02-10 00:00:00,...,2,10,"Action,Adventure,Drama",Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",5.9,54.65,115,112813,36.0
174,174,Assassin's Creed,75808.0,-0.43,523.0,54605220.0,10.0,2017,2017-02-17,2017-02-17 00:00:00,...,2,17,"Action,Adventure,Drama",Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",5.9,54.65,115,112813,36.0
175,175,Assassin's Creed,28924.0,-0.62,507.0,54634144.0,11.0,2017,2017-02-24,2017-02-24 00:00:00,...,2,24,"Action,Adventure,Drama",Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",5.9,54.65,115,112813,36.0
176,176,Assassin's Creed,13804.0,-0.52,690.0,54647948.0,12.0,2017,2017-03-03,2017-03-03 00:00:00,...,3,3,"Action,Adventure,Drama",Justin Kurzel,"Michael Fassbender, Marion Cotillard, Jeremy I...",5.9,54.65,115,112813,36.0
379,379,Collateral Beauty,1760974.0,-0.75,1256.0,30316239.0,4.0,2017,2017-01-06,2017-01-06 00:00:00,...,1,6,"Drama,Romance",David Frankel,"Will Smith, Edward Norton, Kate Winslet, Micha...",6.8,30.98,97,43977,23.0
380,380,Collateral Beauty,305013.0,-0.83,1201.0,30621252.0,5.0,2017,2017-01-13,2017-01-13 00:00:00,...,1,13,"Drama,Romance",David Frankel,"Will Smith, Edward Norton, Kate Winslet, Micha...",6.8,30.98,97,43977,23.0
381,381,Collateral Beauty,109099.0,-0.64,902.0,30730351.0,6.0,2017,2017-01-20,2017-01-20 00:00:00,...,1,20,"Drama,Romance",David Frankel,"Will Smith, Edward Norton, Kate Winslet, Micha...",6.8,30.98,97,43977,23.0
382,382,Collateral Beauty,182497.0,0.67,899.0,30912848.0,7.0,2017,2017-01-27,2017-01-27 00:00:00,...,1,27,"Drama,Romance",David Frankel,"Will Smith, Edward Norton, Kate Winslet, Micha...",6.8,30.98,97,43977,23.0
383,383,Collateral Beauty,103173.0,-0.44,716.0,31016021.0,8.0,2017,2017-02-03,2017-02-03 00:00:00,...,2,3,"Drama,Romance",David Frankel,"Will Smith, Edward Norton, Kate Winslet, Micha...",6.8,30.98,97,43977,23.0
417,417,Dangal,1126096.0,-0.65,4751.0,11470685.0,4.0,2017,2017-01-06,2017-01-06 00:00:00,...,1,6,"Action,Biography,Drama",Nitesh Tiwari,"Aamir Khan, Sakshi Tanwar, Fatima Sana Shaikh,...",8.8,11.15,161,48969,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13507,2318,Toni Erdmann,43526.0,-0.27,7254.0,278603.0,5.0,2017,2017-01-20,2017-01-20 00:00:00,...,1,20,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13508,2319,Toni Erdmann,146174.0,2.36,7309.0,424777.0,6.0,2017,2017-01-27,2017-01-27 00:00:00,...,1,27,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13509,2320,Toni Erdmann,131839.0,-0.10,5493.0,556616.0,7.0,2017,2017-02-03,2017-02-03 00:00:00,...,2,3,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13510,2321,Toni Erdmann,178679.0,0.36,3647.0,735295.0,8.0,2017,2017-02-10,2017-02-10 00:00:00,...,2,10,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13511,2322,Toni Erdmann,306877.0,0.72,3009.0,1042172.0,9.0,2017,2017-02-17,2017-02-17 00:00:00,...,2,17,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13512,2323,Toni Erdmann,181543.0,-0.41,1621.0,1223715.0,10.0,2017,2017-02-24,2017-02-24 00:00:00,...,2,24,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13513,2324,Toni Erdmann,91477.0,-0.50,1452.0,1315192.0,11.0,2017,2017-03-03,2017-03-03 00:00:00,...,3,3,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13514,2325,Toni Erdmann,56611.0,-0.38,1258.0,1371803.0,12.0,2017,2017-03-10,2017-03-10 00:00:00,...,3,10,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13515,2326,Toni Erdmann,25586.0,-0.55,1218.0,1397389.0,13.0,2017,2017-03-17,2017-03-17 00:00:00,...,3,17,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13516,2327,Toni Erdmann,15352.0,-0.40,960.0,1412741.0,14.0,2017,2017-03-24,2017-03-24 00:00:00,...,3,24,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13517,2328,Toni Erdmann,27636.0,0.80,1256.0,1440377.0,15.0,2017,2017-03-31,2017-03-31 00:00:00,...,3,31,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13518,2329,Toni Erdmann,14544.0,-0.47,970.0,1454921.0,16.0,2017,2017-04-07,2017-04-07 00:00:00,...,4,7,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13519,2330,Toni Erdmann,7351.0,-0.50,1225.0,1462272.0,17.0,2017,2017-04-14,2017-04-14 00:00:00,...,4,14,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13520,2331,Toni Erdmann,7015.0,-0.05,702.0,1468287.0,18.0,2017,2017-04-21,2017-04-21 00:00:00,...,4,21,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13521,2332,Toni Erdmann,5288.0,-0.25,661.0,1474575.0,19.0,2017,2017-04-28,2017-04-28 00:00:00,...,4,28,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13522,2333,Toni Erdmann,2753.0,-0.48,918.0,1477328.0,20.0,2017,2017-05-05,2017-05-05 00:00:00,...,5,5,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
13523,2334,Toni Erdmann,2059.0,-0.25,686.0,1479387.0,21.0,2017,2017-05-12,2017-05-12 00:00:00,...,5,12,"Comedy,Drama",Maren Ade,"Sandra H?ller, Peter Simonischek, Michael Wit...",7.6,1.48,162,24387,93.0
14611,757,Christine,2533471.0,-0.17,2438.0,16372552.0,5.0,2017,2017-01-06,2017-01-06 00:00:00,...,1,6,"Biography,Drama",Antonio Campos,"Rebecca Hall, Michael C. Hall, Tracy Letts, Ma...",7.0,0.30,119,5855,72.0
14612,758,Christine,1685168.0,-0.34,1885.0,18057720.0,6.0,2017,2017-01-13,2017-01-13 00:00:00,...,1,13,"Biography,Drama",Antonio Campos,"Rebecca Hall, Michael C. Hall, Tracy Letts, Ma...",7.0,0.30,119,5855,72.0
14613,759,Christine,934775.0,-0.45,1302.0,18992495.0,7.0,2017,2017-01-20,2017-01-20 00:00:00,...,1,20,"Biography,Drama",Antonio Campos,"Rebecca Hall, Michael C. Hall, Tracy Letts, Ma...",7.0,0.30,119,5855,72.0
18157,4312,The Love Witch,14507.0,-0.24,2901.0,189572.0,9.0,2017,2017-01-06,2017-01-06 00:00:00,...,1,6,"Comedy,Horror",Anna Biller,"Samantha Robinson, Jeffrey Vincent Parise, Lau...",6.2,0.22,120,4669,82.0
18158,4313,The Love Witch,5504.0,-0.62,1376.0,195076.0,10.0,2017,2017-01-13,2017-01-13 00:00:00,...,1,13,"Comedy,Horror",Anna Biller,"Samantha Robinson, Jeffrey Vincent Parise, Lau...",6.2,0.22,120,4669,82.0
18159,4314,The Love Witch,8354.0,0.52,1671.0,203430.0,11.0,2017,2017-01-20,2017-01-20 00:00:00,...,1,20,"Comedy,Horror",Anna Biller,"Samantha Robinson, Jeffrey Vincent Parise, Lau...",6.2,0.22,120,4669,82.0
18160,4315,The Love Witch,9767.0,0.17,2442.0,213197.0,12.0,2017,2017-01-27,2017-01-27 00:00:00,...,1,27,"Comedy,Horror",Anna Biller,"Samantha Robinson, Jeffrey Vincent Parise, Lau...",6.2,0.22,120,4669,82.0
18161,4316,The Love Witch,4144.0,-0.58,1036.0,217341.0,13.0,2017,2017-02-03,2017-02-03 00:00:00,...,2,3,"Comedy,Horror",Anna Biller,"Samantha Robinson, Jeffrey Vincent Parise, Lau...",6.2,0.22,120,4669,82.0
18162,4317,The Love Witch,5260.0,0.27,658.0,222601.0,14.0,2017,2017-02-10,2017-02-10 00:00:00,...,2,10,"Comedy,Horror",Anna Biller,"Samantha Robinson, Jeffrey Vincent Parise, Lau...",6.2,0.22,120,4669,82.0
18163,4318,The Love Witch,1130.0,-0.79,565.0,223731.0,15.0,2017,2017-02-17,2017-02-17 00:00:00,...,2,17,"Comedy,Horror",Anna Biller,"Samantha Robinson, Jeffrey Vincent Parise, Lau...",6.2,0.22,120,4669,82.0
18164,4319,The Love Witch,2722.0,1.41,681.0,226453.0,16.0,2017,2017-02-24,2017-02-24 00:00:00,...,2,24,"Comedy,Horror",Anna Biller,"Samantha Robinson, Jeffrey Vincent Parise, Lau...",6.2,0.22,120,4669,82.0
18165,4320,The Love Witch,1009.0,0.00,505.0,227462.0,18.0,2017,2017-03-10,2017-03-10 00:00:00,...,3,10,"Comedy,Horror",Anna Biller,"Samantha Robinson, Jeffrey Vincent Parise, Lau...",6.2,0.22,120,4669,82.0
18166,4321,The Love Witch,1432.0,0.00,716.0,228894.0,20.0,2017,2017-03-24,2017-03-24 00:00:00,...,3,24,"Comedy,Horror",Anna Biller,"Samantha Robinson, Jeffrey Vincent Parise, Lau...",6.2,0.22,120,4669,82.0